Lets chcek the major reason of kidnapping in each and every state

In [2]:
#importing the dataset
import pandas as pd
df_kidnap=pd.read_csv("39_Specific_purpose_of_kidnapping_and_abduction.csv")
df_kidnap

,Area_Name,Year,Group_Name,Sub_Group_Name,K_A_Cases_Reported,K_A_Female_10_15_Years,K_A_Female_15_18_Years,K_A_Female_18_30_Years,K_A_Female_30_50_Years,K_A_Female_Above_50_Years,K_A_Female_Total,K_A_Female_Upto_10_Years,K_A_Grand_Total,K_A_Male_10_15_Years,K_A_Male_15_18_Years,K_A_Male_18_30_Years,K_A_Male_30_50_Years,K_A_Male_Above_50_Years,K_A_Male_Total,K_A_Male_Upto_10_Years
0,Andhra Pradesh,2001,Kidnap - For Adoption,01. For Adoption,8.0,0.0,0.0,4.0,0.0,0.0,5.0,1.0,8.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0
1,Arunachal Pradesh,2001,Kidnap - For Adoption,01. For Adoption,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Assam,2001,Kidnap - For Adoption,01. For Adoption,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Bihar,2001,Kidnap - For Adoption,01. For Adoption,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,0.0,0.0,15.0,3.0,0.0,18.0,0.0
4,Chandigarh,2001,Kidnap - For Adoption,01. For Adoption,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Chhattisgarh,2001,Kidnap - For Adoption,01. For Adoption,6.0,2.0,1.0,3.0,0.0,0.0,6.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Delhi,2001,Kidnap - For Adoption,01. For Adoption,5.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN,7.0,1.0,NaN,1.0,2.0,NaN,6.0,2.0
7,Gujarat,2001,Kidnap - For Adoption,01. For Adoption,3.0,0.0,0.0,2.0,0.0,0.0,3.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Haryana,2001,Kidnap - For Adoption,01. For Adoption,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Himachal Pradesh,2001,Kidnap - For Adoption,01. For Adoption,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,Jammu & Kashmir,2001,Kidnap - For Adoption,01. For Adoption,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN,2.0,1.0
11,Jharkhand,2001,Kidnap - For Adoption,01. For Adoption,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,Karnataka,2001,Kidnap - For Adoption,01. For Adoption,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,Maharashtra,2001,Kidnap - For Adoption,01. For Adoption,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
14,Meghalaya,2001,Kidnap - For Adoption,01. For Adoption,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,Mizoram,2001,Kidnap - For Adoption,01. For Adoption,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,Nagaland,2001,Kidnap - For Adoption,01. For Adoption,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,3.0,0.0,0.0,2.0,0.0,0.0,2.0,0.0
17,Odisha,2001,Kidnap - For Adoption,01. For Adoption,2.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,Punjab,2001,Kidnap - For Adoption,01. For Adoption,3.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0
19,Rajasthan,2001,Kidnap - For Adoption,01. For Adoption,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0
20,Sikkim,2001,Kidnap - For Adoption,01. For Adoption,6.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,7.0,NaN,NaN,6.0,1.0,NaN,7.0,0.0
21,Tamil Nadu,2001,Kidnap - For Adoption,01. For Adoption,22.0,0.0,17.0,4.0,NaN,NaN,22.0,1.0,22.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0
22,Uttar Pradesh,2001,Kidnap - For Adoption,01. For Adoption,6.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,6.0,NaN,2.0,3.0,NaN,NaN,5.0,NaN
23,West Bengal,2001,Kidnap - For Adoption,01. For Adoption,3.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,3.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
24,Andhra Pradesh,2002,Kidnap - For Adoption,01. For Adoption,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,Assam,2002,Kidnap - For Adoption,01. For Adoption,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,Bihar,2002,Kidnap - For Adoption,01. For Adoption,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,3.0,0.0,0.0,2.0,0.0,0.0,2.0,0.0
27,Chhattisgarh,2002,Kidnap - For Adoption,01. For Adoption,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,Daman & Diu,2002,Kidnap - For Adoption,01. For Adoption,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,Delhi,2002,Kidnap - For Adoption,01. For Adoption,6.0,0.0,2.0,3.0,0.0,0.0,5.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3539,Bihar,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),3674.0,64.0,1101.0,1312.0,91.0,NaN,2569.0,1.0,3683.0,58.0,112.0,817.0,103.0,1.0,1114.0,23.0
3540,Chandigarh,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),38.0,6.0,13.0,8.0,NaN,NaN,28.0,1.0,38.0,NaN,NaN,6.0,1.0,NaN,10.0,3.0
3541,Chhattisgarh,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),359.0,49.0,96.0,115.0,12.0,0.0,279.0,7.0,359.0,14.0,15.0,28.0,17.0,1.0,80.0,5.0
3542,Dadra & Nagar Haveli,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),18.0,7.0,2.0,1.0,1.0,NaN,11.0,NaN,18.0,1.0,NaN,3.0,3.0,NaN,7.0,NaN
3543,Daman & Diu,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,1.0,NaN,NaN,2.0,NaN
3544,Delhi,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),3208.0,664.0,838.0,113.0,14.0,0.0,1805.0,176.0,3565.0,909.0,380.0,59.0,44.0,3.0,1760.0,365.0
3545,Goa,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),25.0,1.0,11.0,4.0,2.0,0.0,18.0,0.0,27.0,0.0,0.0,3.0,4.0,0.0,9.0,2.0
3546,Gujarat,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),1447.0,106.0,420.0,616.0,51.0,7.0,1208.0,8.0,1450.0,13.0,8.0,125.0,80.0,4.0,242.0,12.0
3547,Haryana,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),963.0,23.0,66.0,576.0,61.0,0.0,732.0,6.0,969.0,17.0,6.0,138.0,58.0,7.0,237.0,11.0
3548,Himachal Pradesh,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),194.0,18.0,50.0,82.0,15.0,1.0,166.0,0.0,200.0,8.0,5.0,8.0,6.0,2.0,34.0,5.0
3549,Jammu & Kashmir,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),896.0,1.0,3.0,702.0,138.0,1.0,846.0,1.0,896.0,0.0,0.0,33.0,15.0,2.0,50.0,0.0
3550,Jharkhand,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),978.0,3.0,10.0,589.0,94.0,0.0,696.0,0.0,978.0,0.0,4.0,195.0,80.0,2.0,282.0,1.0
3551,Karnataka,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),1374.0,24.0,96.0,623.0,44.0,28.0,825.0,10.0,1441.0,8.0,0.0,483.0,87.0,19.0,616.0,19.0
3552,Kerala,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),261.0,21.0,76.0,81.0,6.0,0.0,190.0,6.0,270.0,9.0,2.0,20.0,37.0,6.0,80.0,6.0
3553,Madhya Pradesh,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),1187.0,145.0,264.0,590.0,34.0,0.0,1043.0,10.0,1207.0,12.0,16.0,82.0,37.0,7.0,164.0,10.0
3554,Maharashtra,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),1508.0,170.0,548.0,398.0,56.0,2.0,1216.0,42.0,1603.0,30.0,21.0,166.0,111.0,22.0,387.0,37.0
3555,Manipur,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),199.0,12.0,44.0,53.0,9.0,5.0,124.0,1.0,231.0,9.0,2.0,30.0,46.0,19.0,107.0,1.0
3556,Meghalaya,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),71.0,2.0,7.0,9.0,3.0,0.0,24.0,3.0,76.0,2.0,3.0,34.0,10.0,0.0,52.0,3.0
3557,Mizoram,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),9.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,9.0,0.0,0.0,4.0,4.0,0.0,8.0,0.0
3558,Nagaland,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),50.0,2.0,2.0,4.0,0.0,0.0,9.0,1.0,50.0,1.0,5.0,15.0,17.0,1.0,41.0,2.0
3559,Odisha,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),1016.0,20.0,33.0,822.0,36.0,0.0,912.0,1.0,1016.0,0.0,0.0,76.0,27.0,0.0,104.0,1.0
3560,Puducherry,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),17.0,2.0,5.0,6.0,NaN,NaN,16.0,3.0,20.0,NaN,NaN,1.0,1.0,NaN,4.0,2.0
3561,Punjab,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),789.0,76.0,263.0,253.0,3.0,1.0,600.0,4.0,799.0,7.0,10.0,84.0,63.0,5.0,199.0,30.0
3562,Rajasthan,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),2985.0,163.0,537.0,1390.0,315.0,8.0,2432.0,19.0,2998.0,23.0,43.0,289.0,174.0,25.0,566.0,12.0
3563,Sikkim,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),6.0,1.0,5.0,NaN,NaN,NaN,6.0,NaN,7.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN
3564,Tamil Nadu,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),1720.0,41.0,431.0,874.0,103.0,5.0,1467.0,13.0,1726.0,5.0,2.0,89.0,145.0,11.0,259.0,7.0
3565,Tripura,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),114.0,8.0,11.0,57.0,18.0,0.0,94.0,NaN,130.0,2.0,0.0,17.0,15.0,1.0,36.0,1.0
3566,Uttar Pradesh,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),6321.0,169.0,906.0,3682.0,699.0,0.0,5468.0,12.0,6323.0,59.0,48.0,460.0,247.0,10.0,855.0,31.0
3567,Uttarakhand,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),286.0,NaN,1.0,217.0,31.0,NaN,249.0,NaN,286.0,3.0,5.0,25.0,4.0,NaN,37.0,NaN
3568,West Bengal,2010,Kidnap - Total,14. Total (Sum of 1-13 Above),3345.0,50.0,211.0,1573.0,840.0,98.0,2786.0,14.0,3391.0,24.0,23.0,284.0,229.0,35.0,605.0,10.0

In [7]:
#lets group by area and reason and count the total number of kidnaps
df_group=df_kidnap.groupby(["Area_Name","Group_Name"]).agg({"K_A_Grand_Total":"sum"})

In [39]:
#lets display the dataset
df_group.loc[("Andaman & Nicobar Islands")]

                             K_A_Grand_Total
Group_Name
Kidnap - For Marriage                    9.0
Kidnap - For Other Purposes             67.0
Kidnap - Total                          76.0

In [78]:
#lets do the find the major reson of kidnapping in each state
state_list=df_kidnap["Area_Name"].drop_duplicates().to_list()
#Lets make a table which consist of AREA major reason of kidnapping and count of kidnaps_major reason,total kidnapping and percentage of kidnnaps due to major reason
df_major_reason_kidnap=pd.DataFrame(columns=["AREA","Major_reason_of_kidnap","Count_of_kidnaps_due_to_major_reason","Total_kidnaps","Proportion_of_kidnaps_major_reason"])
area_list=list()
major_reason_list=list()
count_kidnaps_major=list()
total_kidnaps=list()
proportion_list=list()
for state in state_list:
    max_kid=0
    for index in df_group.loc[state].index:
        #print(df_group.loc[state].loc[index][0])
        if (max_kid<df_group.loc[state].loc[index][0]) and (index!="Kidnap - Total"):
            max_kid=df_group.loc[state].loc[index][0]
            index_final=index
            #print(max_kid)
    print("AREA: {} \nMajority cases due to: {} and count is: {}".format(state,index_final,max_kid))
    print("Ratio of cases due to {} is :{}".format(index_final,max_kid/df_group.loc[state].loc["Kidnap - Total"][0]))
    print("\n")
    area_list.append(state)
    major_reason_list.append(index_final)
    count_kidnaps_major.append(max_kid)
    total_kidnaps.append(df_group.loc[state].loc["Kidnap - Total"][0])
    proportion_list.append(max_kid/df_group.loc[state].loc["Kidnap - Total"][0])

AREA: Andhra Pradesh
Majority cases due to: Kidnap - For Other Purposes and count is: 7446.0
Ratio of cases due to Kidnap - For Other Purposes is :0.43072829293688897


AREA: Arunachal Pradesh
Majority cases due to: Kidnap - For Marriage and count is: 349.0
Ratio of cases due to Kidnap - For Marriage is :0.5117302052785924


AREA: Assam
Majority cases due to: Kidnap - For Marriage and count is: 12564.0
Ratio of cases due to Kidnap - For Marriage is :0.6170014241516476


AREA: Bihar
Majority cases due to: Kidnap - For Other Purposes and count is: 11333.0
Ratio of cases due to Kidnap - For Other Purposes is :0.40216465578424415


AREA: Chandigarh
Majority cases due to: Kidnap - For Marriage and count is: 336.0
Ratio of cases due to Kidnap - For Marriage is :0.6588235294117647


AREA: Chhattisgarh
Majority cases due to: Kidnap - For Marriage and count is: 1288.0
Ratio of cases due to Kidnap - For Marriage is :0.5315724308708213


AREA: Delhi
Majority cases due to: Kidnap - For Other Purposes and count is: 14762.0
Ratio of cases due to Kidnap - For Other Purposes is :0.810341988252731


AREA: Gujarat
Majority cases due to: Kidnap - For Marriage and count is: 7244.0
Ratio of cases due to Kidnap - For Marriage is :0.6032142559746857


AREA: Haryana
Majority cases due to: Kidnap - For Marriage and count is: 3003.0
Ratio of cases due to Kidnap - For Marriage is :0.4673202614379085


AREA: Himachal Pradesh
Majority cases due to: Kidnap - For Marriage and count is: 1074.0
Ratio of cases due to Kidnap - For Marriage is :0.7473903966597077


AREA: Jammu & Kashmir
Majority cases due to: Kidnap - For Marriage and count is: 3486.0
Ratio of cases due to Kidnap - For Marriage is :0.4627638391079251


AREA: Jharkhand
Majority cases due to: Kidnap - For Marriage and count is: 2798.0
Ratio of cases due to Kidnap - For Marriage is :0.468990948709353


AREA: Karnataka
Majority cases due to: Kidnap - For Other Purposes and count is: 5453.0
Ratio of cases due to Kidnap - For Other Purposes is :0.7317498658078369


AREA: Maharashtra
Majority cases due to: Kidnap - For Marriage and count is: 5947.0
Ratio of cases due to Kidnap - For Marriage is :0.4669807616804083


AREA: Meghalaya
Majority cases due to: Kidnap - For Ransom and count is: 198.0
Ratio of cases due to Kidnap - For Ransom is :0.3548387096774194


AREA: Mizoram
Majority cases due to: Kidnap - For Other Purposes and count is: 46.0
Ratio of cases due to Kidnap - For Other Purposes is :0.5411764705882353


AREA: Nagaland
Majority cases due to: Kidnap - For Other Purposes and count is: 279.0
Ratio of cases due to Kidnap - For Other Purposes is :0.7045454545454546


AREA: Odisha
Majority cases due to: Kidnap - For Marriage and count is: 2971.0
Ratio of cases due to Kidnap - For Marriage is :0.4207619317377142


AREA: Punjab
Majority cases due to: Kidnap - For Marriage and count is: 3050.0
Ratio of cases due to Kidnap - For Marriage is :0.4898024731010117


AREA: Rajasthan
Majority cases due to: Kidnap - For Marriage and count is: 12715.0
Ratio of cases due to Kidnap - For Marriage is :0.5229712499485871


AREA: Sikkim
Majority cases due to: Kidnap - For Other Purposes and count is: 18.0
Ratio of cases due to Kidnap - For Other Purposes is :0.29508196721311475


AREA: Tamil Nadu
Majority cases due to: Kidnap - For Marriage and count is: 6693.0
Ratio of cases due to Kidnap - For Marriage is :0.5812923397602918


AREA: Uttar Pradesh
Majority cases due to: Kidnap - For Marriage and count is: 20414.0
Ratio of cases due to Kidnap - For Marriage is :0.4866037376048818


AREA: West Bengal
Majority cases due to: Kidnap - For Marriage and count is: 6735.0
Ratio of cases due to Kidnap - For Marriage is :0.40307618648632476


AREA: Daman & Diu
Majority cases due to: Kidnap - For Other Purposes and count is: 19.0
Ratio of cases due to Kidnap - For Other Purposes is :0.8636363636363636


AREA: Madhya Pradesh
Majority cases due to: Kidnap - For Marriage and count is: 4205.0
Ratio of cases due to Kidnap - For Marriage is :0.4388436652055938


AREA: Tripura
Majority cases due to: Kidnap - For Ransom and count is: 627.0
Ratio of cases due to Kidnap - For Ransom is :0.41168745896257386


AREA: Puducherry
Majority cases due to: Kidnap - For Marriage and count is: 79.0
Ratio of cases due to Kidnap - For Marriage is :0.5486111111111112


AREA: Kerala
Majority cases due to: Kidnap - For Other Purposes and count is: 1359.0
Ratio of cases due to Kidnap - For Other Purposes is :0.5731758751581612


AREA: Manipur
Majority cases due to: Kidnap - For Other Purposes and count is: 759.0
Ratio of cases due to Kidnap - For Other Purposes is :0.46909765142150806


AREA: Dadra & Nagar Haveli
Majority cases due to: Kidnap - For Marriage and count is: 65.0
Ratio of cases due to Kidnap - For Marriage is :0.5284552845528455


AREA: Goa
Majority cases due to: Kidnap - For Other Purposes and count is: 128.0
Ratio of cases due to Kidnap - For Other Purposes is :0.64


AREA: Uttarakhand
Majority cases due to: Kidnap - For Marriage and count is: 1276.0
Ratio of cases due to Kidnap - For Marriage is :0.5683741648106905


AREA: Andaman & Nicobar Islands
Majority cases due to: Kidnap - For Other Purposes and count is: 67.0
Ratio of cases due to Kidnap - For Other Purposes is :0.881578947368421


AREA: Lakshadweep
Majority cases due to: Kidnap - For Ransom and count is: 1.0
Ratio of cases due to Kidnap - For Ransom is :1.0

In [80]:
# Displaying table for major reason people being kidnapped in each and every state
df_major_reason_kidnap["AREA"]=area_list
df_major_reason_kidnap["Major_reason_of_kidnap"]=major_reason_list
df_major_reason_kidnap["Count_of_kidnaps_due_to_major_reason"]=count_kidnaps_major
df_major_reason_kidnap["Total_kidnaps"]=total_kidnaps
df_major_reason_kidnap["Proportion_of_kidnaps_major_reason"]=proportion_list
df_major_reason_kidnap

,AREA,Major_reason_of_kidnap,Count_of_kidnaps_due_to_major_reason,Total_kidnaps,Proportion_of_kidnaps_major_reason
0,Andhra Pradesh,Kidnap - For Other Purposes,7446.0,17287.0,0.430728
1,Arunachal Pradesh,Kidnap - For Marriage,349.0,682.0,0.511730
2,Assam,Kidnap - For Marriage,12564.0,20363.0,0.617001
3,Bihar,Kidnap - For Other Purposes,11333.0,28180.0,0.402165
4,Chandigarh,Kidnap - For Marriage,336.0,510.0,0.658824
5,Chhattisgarh,Kidnap - For Marriage,1288.0,2423.0,0.531572
6,Delhi,Kidnap - For Other Purposes,14762.0,18217.0,0.810342
7,Gujarat,Kidnap - For Marriage,7244.0,12009.0,0.603214
8,Haryana,Kidnap - For Marriage,3003.0,6426.0,0.467320
9,Himachal Pradesh,Kidnap - For Marriage,1074.0,1437.0,0.747390
10,Jammu & Kashmir,Kidnap - For Marriage,3486.0,7533.0,0.462764
11,Jharkhand,Kidnap - For Marriage,2798.0,5966.0,0.468991
12,Karnataka,Kidnap - For Other Purposes,5453.0,7452.0,0.731750
13,Maharashtra,Kidnap - For Marriage,5947.0,12735.0,0.466981
14,Meghalaya,Kidnap - For Ransom,198.0,558.0,0.354839
15,Mizoram,Kidnap - For Other Purposes,46.0,85.0,0.541176
16,Nagaland,Kidnap - For Other Purposes,279.0,396.0,0.704545
17,Odisha,Kidnap - For Marriage,2971.0,7061.0,0.420762
18,Punjab,Kidnap - For Marriage,3050.0,6227.0,0.489802
19,Rajasthan,Kidnap - For Marriage,12715.0,24313.0,0.522971
20,Sikkim,Kidnap - For Other Purposes,18.0,61.0,0.295082
21,Tamil Nadu,Kidnap - For Marriage,6693.0,11514.0,0.581292
22,Uttar Pradesh,Kidnap - For Marriage,20414.0,41952.0,0.486604
23,West Bengal,Kidnap - For Marriage,6735.0,16709.0,0.403076
24,Daman & Diu,Kidnap - For Other Purposes,19.0,22.0,0.863636
25,Madhya Pradesh,Kidnap - For Marriage,4205.0,9582.0,0.438844
26,Tripura,Kidnap - For Ransom,627.0,1523.0,0.411687
27,Puducherry,Kidnap - For Marriage,79.0,144.0,0.548611
28,Kerala,Kidnap - For Other Purposes,1359.0,2371.0,0.573176
29,Manipur,Kidnap - For Other Purposes,759.0,1618.0,0.469098
30,Dadra & Nagar Haveli,Kidnap - For Marriage,65.0,123.0,0.528455
31,Goa,Kidnap - For Other Purposes,128.0,200.0,0.640000
32,Uttarakhand,Kidnap - For Marriage,1276.0,2245.0,0.568374
33,Andaman & Nicobar Islands,Kidnap - For Other Purposes,67.0,76.0,0.881579
34,Lakshadweep,Kidnap - For Ransom,1.0,1.0,1.000000

OFFENDER's relation to rape victim

In [81]:
#importig the dataset
df_rape=pd.read_csv("20_Victims_of_rape.csv")
df_rape

,Area_Name,Year,Subgroup,Rape_Cases_Reported,Victims_Above_50_Yrs,Victims_Between_10-14_Yrs,Victims_Between_14-18_Yrs,Victims_Between_18-30_Yrs,Victims_Between_30-50_Yrs,Victims_of_Rape_Total,Victims_Upto_10_Yrs
0,Andaman & Nicobar Islands,2001,Total Rape Victims,3,0,0,3,0,0,3,0
1,Andaman & Nicobar Islands,2001,Victims of Incest Rape,1,0,0,1,0,0,1,0
2,Andaman & Nicobar Islands,2001,Victims of Other Rape,2,0,0,2,0,0,2,0
3,Andaman & Nicobar Islands,2002,Total Rape Victims,2,0,0,1,1,0,2,0
4,Andaman & Nicobar Islands,2002,Victims of Incest Rape,0,0,0,0,0,0,0,0
5,Andaman & Nicobar Islands,2002,Victims of Other Rape,2,0,0,1,1,0,2,0
6,Andaman & Nicobar Islands,2003,Total Rape Victims,2,0,0,1,0,0,2,1
7,Andaman & Nicobar Islands,2003,Victims of Incest Rape,0,0,0,0,0,0,0,0
8,Andaman & Nicobar Islands,2003,Victims of Other Rape,2,0,0,1,0,0,2,1
9,Andaman & Nicobar Islands,2004,Total Rape Victims,10,0,1,7,1,1,10,0
10,Andaman & Nicobar Islands,2004,Victims of Incest Rape,0,0,0,0,0,0,0,0
11,Andaman & Nicobar Islands,2004,Victims of Other Rape,10,0,1,7,1,1,10,0
12,Andaman & Nicobar Islands,2005,Total Rape Victims,4,0,0,2,2,0,4,0
13,Andaman & Nicobar Islands,2005,Victims of Incest Rape,0,0,0,0,0,0,0,0
14,Andaman & Nicobar Islands,2005,Victims of Other Rape,4,0,0,2,2,0,4,0
15,Andaman & Nicobar Islands,2006,Total Rape Victims,6,0,2,1,1,0,6,2
16,Andaman & Nicobar Islands,2006,Victims of Incest Rape,0,0,0,0,0,0,0,0
17,Andaman & Nicobar Islands,2006,Victims of Other Rape,6,0,2,1,1,0,6,2
18,Andaman & Nicobar Islands,2007,Total Rape Victims,3,0,0,3,0,0,3,0
19,Andaman & Nicobar Islands,2007,Victims of Incest Rape,0,0,0,0,0,0,0,0
20,Andaman & Nicobar Islands,2007,Victims of Other Rape,3,0,0,3,0,0,3,0
21,Andaman & Nicobar Islands,2008,Total Rape Victims,12,0,1,7,3,1,12,0
22,Andaman & Nicobar Islands,2008,Victims of Incest Rape,0,0,0,0,0,0,0,0
23,Andaman & Nicobar Islands,2008,Victims of Other Rape,12,0,1,7,3,1,12,0
24,Andaman & Nicobar Islands,2009,Total Rape Victims,18,0,3,7,5,1,18,2
25,Andaman & Nicobar Islands,2009,Victims of Incest Rape,0,0,0,0,0,0,0,0
26,Andaman & Nicobar Islands,2009,Victims of Other Rape,18,0,3,7,5,1,18,2
27,Andaman & Nicobar Islands,2010,Total Rape Victims,24,0,1,12,8,1,24,2
28,Andaman & Nicobar Islands,2010,Victims of Incest Rape,0,0,0,0,0,0,0,0
29,Andaman & Nicobar Islands,2010,Victims of Other Rape,24,0,1,12,8,1,24,2
...,...,...,...,...,...,...,...,...,...,...,...
1020,West Bengal,2001,Total Rape Victims,709,0,3,5,594,103,709,4
1021,West Bengal,2001,Victims of Incest Rape,0,0,0,0,0,0,0,0
1022,West Bengal,2001,Victims of Other Rape,709,0,3,5,594,103,709,4
1023,West Bengal,2002,Total Rape Victims,759,0,3,8,552,191,759,5
1024,West Bengal,2002,Victims of Incest Rape,0,0,0,0,0,0,0,0
1025,West Bengal,2002,Victims of Other Rape,759,0,3,8,552,191,759,5
1026,West Bengal,2003,Total Rape Victims,1002,2,7,4,826,158,1002,5
1027,West Bengal,2003,Victims of Incest Rape,15,0,2,0,12,0,15,1
1028,West Bengal,2003,Victims of Other Rape,987,2,5,4,814,158,987,4
1029,West Bengal,2004,Total Rape Victims,1475,1,3,14,965,490,1475,2
1030,West Bengal,2004,Victims of Incest Rape,24,0,0,0,17,7,24,0
1031,West Bengal,2004,Victims of Other Rape,1451,1,3,14,948,483,1451,2
1032,West Bengal,2005,Total Rape Victims,1686,1,0,3,1451,228,1686,3
1033,West Bengal,2005,Victims of Incest Rape,36,0,0,0,31,5,36,0
1034,West Bengal,2005,Victims of Other Rape,1650,1,0,3,1420,223,1650,3
1035,West Bengal,2006,Total Rape Victims,1731,0,5,13,1477,234,1731,2
1036,West Bengal,2006,Victims of Incest Rape,6,0,0,0,6,0,6,0
1037,West Bengal,2006,Victims of Other Rape,1725,0,5,13,1471,234,1725,2
1038,West Bengal,2007,Total Rape Victims,2106,5,42,36,1478,531,2106,14
1039,West Bengal,2007,Victims of Incest Rape,114,0,2,3,81,25,114,3
1040,West Bengal,2007,Victims of Other Rape,1992,5,40,33,1397,506,1992,11
1041,West Bengal,2008,Total Rape Victims,2263,1,53,54,1629,504,2263,22
1042,West Bengal,2008,Victims of Incest Rape,9,0,2,1,1,0,9,5
1043,West Bengal,2008,Victims of Other Rape,2254,1,51,53,1628,504,2254,17
1044,West Bengal,2009,Total Rape Victims,2336,0,18,85,1835,392,2336,6
1045,West Bengal,2009,Victims of Incest Rape,3,0,0,1,1,1,3,0
1046,West Bengal,2009,Victims of Other Rape,2333,0,18,84,1834,391,2333,6
1047,West Bengal,2010,Total Rape Victims,2311,0,22,51,1779,459,2311,0
1048,West Bengal,2010,Victims of Incest Rape,4,0,1,0,2,1,4,0
1049,West Bengal,2010,Victims of Other Rape,2307,0,21,51,1777,458,2307,0

In [83]:
#lets chcek the total of rape victims grouped by AREA and Subgroup
df_rape_group=df_rape.groupby(["Area_Name","Subgroup"]).agg({"Victims_of_Rape_Total":"sum"})

In [84]:
#displaying the sum as per groups
df_rape_group

                                                  Victims_of_Rape_Total
Area_Name                 Subgroup
Andaman & Nicobar Islands Total Rape Victims                         84
                          Victims of Incest Rape                      1
                          Victims of Other Rape                      83
Andhra Pradesh            Total Rape Victims                      10696
                          Victims of Incest Rape                     70
                          Victims of Other Rape                   10626
Arunachal Pradesh         Total Rape Victims                        412
                          Victims of Incest Rape                      0
                          Victims of Other Rape                     412
Assam                     Total Rape Victims                      12762
                          Victims of Incest Rape                    101
                          Victims of Other Rape                   12661
Bihar                     Total Rape Victims                      11263
                          Victims of Incest Rape                     43
                          Victims of Other Rape                   11220
Chandigarh                Total Rape Victims                        228
                          Victims of Incest Rape                     17
                          Victims of Other Rape                     211
Chhattisgarh              Total Rape Victims                       9751
                          Victims of Incest Rape                    532
                          Victims of Other Rape                    9219
Dadra & Nagar Haveli      Total Rape Victims                         49
                          Victims of Incest Rape                      0
                          Victims of Other Rape                      49
Daman & Diu               Total Rape Victims                         14
                          Victims of Incest Rape                      0
                          Victims of Other Rape                      14
Delhi                     Total Rape Victims                       5171
                          Victims of Incest Rape                    231
                          Victims of Other Rape                    4940
...                                                                 ...
Odisha                    Total Rape Victims                       8860
                          Victims of Incest Rape                     73
                          Victims of Other Rape                    8787
Puducherry                Total Rape Victims                         57
                          Victims of Incest Rape                      0
                          Victims of Other Rape                      57
Punjab                    Total Rape Victims                       4307
                          Victims of Incest Rape                    163
                          Victims of Other Rape                    4144
Rajasthan                 Total Rape Victims                      11954
                          Victims of Incest Rape                    337
                          Victims of Other Rape                   11617
Sikkim                    Total Rape Victims                        149
                          Victims of Incest Rape                     10
                          Victims of Other Rape                     139
Tamil Nadu                Total Rape Victims                       5549
                          Victims of Incest Rape                    116
                          Victims of Other Rape                    5433
Tripura                   Total Rape Victims                       1626
                          Victims of Incest Rape                      5
                          Victims of Other Rape                    1621
Uttar Pradesh             Total Rape Victims                      15053
                          Victims of Incest Rape                    138
                          Victims of Other Rape                   14915
Uttarakhand               Total Rape Victims                       1101
                          Victims of Incest Rape                     71
                          Victims of Other Rape                    1030
West Bengal               Total Rape Victims                      16378
                          Victims of Incest Rape                    211
                          Victims of Other Rape                   16167

[105 rows x 1 columns]

In [85]:
#Lets make a table showing total sum of incest rape cases in each state
df_rape_incest=pd.DataFrame(columns=["Area","incest_rape","total_rape"])
area_list=df_rape["Area_Name"].drop_duplicates().to_list()
incest_rape=list()
total_rape=list()
for area in area_list:
    incest_rape.append(df_rape_group.loc[area].loc["Victims of Incest Rape"][0])
    total_rape.append(df_rape_group.loc[area].loc["Total Rape Victims"][0])
df_rape_incest["Area"]=area_list
df_rape_incest["incest_rape"]=incest_rape
df_rape_incest["total_rape"]=total_rape

In [86]:
#displaying the table
df_rape_incest

                         Area  incest_rape  total_rape
0   Andaman & Nicobar Islands            1          84
1              Andhra Pradesh           70       10696
2           Arunachal Pradesh            0         412
3                       Assam          101       12762
4                       Bihar           43       11263
5                  Chandigarh           17         228
6                Chhattisgarh          532        9751
7        Dadra & Nagar Haveli            0          49
8                 Daman & Diu            0          14
9                       Delhi          231        5171
10                        Goa            7         270
11                    Gujarat           97        3339
12                    Haryana          149        5009
13           Himachal Pradesh           43        1453
14            Jammu & Kashmir           12        2228
15                  Jharkhand          321        7563
16                  Karnataka           46        3917
17                     Kerala          128        5308
18                Lakshadweep            0           7
19             Madhya Pradesh          865       29257
20                Maharashtra          362       14505
21                    Manipur            7         273
22                  Meghalaya           46         739
23                    Mizoram           13         646
24                   Nagaland            4         176
25                     Odisha           73        8860
26                 Puducherry            0          57
27                     Punjab          163        4307
28                  Rajasthan          337       11954
29                     Sikkim           10         149
30                 Tamil Nadu          116        5549
31                    Tripura            5        1626
32              Uttar Pradesh          138       15053
33                Uttarakhand           71        1101
34                West Bengal          211       16378

Juveniles family background, education and economic setup.

In [92]:
df_juv_edu=pd.read_csv("18_01_Juveniles_arrested_Education.csv")
df_juv_eco=pd.read_csv("18_02_Juveniles_arrested_Economic_setup.csv")
df_juv_fam_back=pd.read_csv("18_03_Juveniles_arrested_Family_background.csv")

In [93]:
#displaying juvenile eduaction
df_juv_edu

,Area_Name,Year,Sub_Group_Name,Education_Above_Primary_but_below_Matric_or_Higher_Secondary,Education_Illiterate,Education_Matric_or_Higher_Secondary_&_above,Education_Total,Education_Upto_primary
0,Andaman & Nicobar Islands,2001,1. Education,12,0,0,16,4
1,Andhra Pradesh,2001,1. Education,178,640,64,1565,683
2,Arunachal Pradesh,2001,1. Education,39,16,12,137,70
3,Assam,2001,1. Education,74,91,0,253,88
4,Bihar,2001,1. Education,87,190,56,586,253
5,Chandigarh,2001,1. Education,33,12,0,71,26
6,Chhattisgarh,2001,1. Education,348,205,61,1362,748
7,Dadra & Nagar Haveli,2001,1. Education,0,0,0,2,2
8,Daman & Diu,2001,1. Education,0,2,0,2,0
9,Delhi,2001,1. Education,228,268,39,858,323
10,Goa,2001,1. Education,34,31,9,93,19
11,Gujarat,2001,1. Education,1144,835,266,4370,2125
12,Haryana,2001,1. Education,879,343,232,2015,561
13,Himachal Pradesh,2001,1. Education,69,1,41,142,31
14,Jammu & Kashmir,2001,1. Education,1,1,0,2,0
15,Jharkhand,2001,1. Education,43,126,15,298,114
16,Karnataka,2001,1. Education,91,566,19,843,167
17,Kerala,2001,1. Education,59,23,7,132,43
18,Lakshadweep,2001,1. Education,0,0,1,1,0
19,Madhya Pradesh,2001,1. Education,1330,1757,560,7328,3681
20,Maharashtra,2001,1. Education,1973,832,168,4990,2017
21,Manipur,2001,1. Education,0,0,0,0,0
22,Meghalaya,2001,1. Education,3,39,1,66,23
23,Mizoram,2001,1. Education,20,6,0,49,23
24,Nagaland,2001,1. Education,12,1,1,26,12
25,Odisha,2001,1. Education,51,39,12,212,110
26,Puducherry,2001,1. Education,0,0,0,3,3
27,Punjab,2001,1. Education,4,10,7,29,8
28,Rajasthan,2001,1. Education,910,957,194,3245,1184
29,Sikkim,2001,1. Education,12,0,0,17,5
...,...,...,...,...,...,...,...,...
320,Chandigarh,2010,1. Education,48,24,33,168,63
321,Chhattisgarh,2010,1. Education,739,442,102,2356,1073
322,Dadra & Nagar Haveli,2010,1. Education,8,2,0,19,9
323,Daman & Diu,2010,1. Education,3,4,1,10,2
324,Delhi,2010,1. Education,204,154,34,627,235
325,Goa,2010,1. Education,37,19,6,77,15
326,Gujarat,2010,1. Education,662,341,176,2121,942
327,Haryana,2010,1. Education,443,79,139,907,246
328,Himachal Pradesh,2010,1. Education,92,6,92,218,28
329,Jammu & Kashmir,2010,1. Education,15,2,3,27,7
330,Jharkhand,2010,1. Education,10,47,5,104,42
331,Karnataka,2010,1. Education,35,63,37,204,69
332,Kerala,2010,1. Education,348,38,262,826,178
333,Lakshadweep,2010,1. Education,0,0,0,0,0
334,Madhya Pradesh,2010,1. Education,1941,1696,516,6449,2296
335,Maharashtra,2010,1. Education,2224,810,862,6388,2492
336,Manipur,2010,1. Education,0,0,0,0,0
337,Meghalaya,2010,1. Education,24,43,3,118,48
338,Mizoram,2010,1. Education,73,3,0,116,40
339,Nagaland,2010,1. Education,30,3,8,53,12
340,Odisha,2010,1. Education,164,195,40,544,145
341,Puducherry,2010,1. Education,0,0,0,49,49
342,Punjab,2010,1. Education,53,81,29,246,83
343,Rajasthan,2010,1. Education,960,322,279,2378,817
344,Sikkim,2010,1. Education,43,4,2,82,33
345,Tamil Nadu,2010,1. Education,455,445,48,1644,696
346,Tripura,2010,1. Education,5,35,0,46,6
347,Uttar Pradesh,2010,1. Education,308,166,100,852,278
348,Uttarakhand,2010,1. Education,31,51,1,154,71
349,West Bengal,2010,1. Education,153,30,35,337,119

In [94]:
#Displaying juvenile economic setup
df_juv_eco

,Area_Name,Year,Sub_Group_Name,Economic_Set_up_Annual_Income_250001_to_50000,Economic_Set_up_Annual_Income_upto_Rs_25000,Economic_Set_up_Middle_income_from_100001_to_200000,Economic_Set_up_Middle_income_from_50001_to_100000,Economic_Set_up_Total,Economic_Set_up_Upper_income_above_Rs_300000,Economic_Set_up_Upper_middle_income_from_200001_to_300000
0,Andaman & Nicobar Islands,2001,2. Economic Setup,12,4,0,0,16,0,0
1,Andhra Pradesh,2001,2. Economic Setup,104,1421,9,27,1565,4,0
2,Arunachal Pradesh,2001,2. Economic Setup,38,99,0,0,137,0,0
3,Assam,2001,2. Economic Setup,47,177,13,16,253,0,0
4,Bihar,2001,2. Economic Setup,213,303,12,58,586,0,0
5,Chandigarh,2001,2. Economic Setup,40,29,0,2,71,0,0
6,Chhattisgarh,2001,2. Economic Setup,224,1071,19,43,1362,3,2
7,Dadra & Nagar Haveli,2001,2. Economic Setup,0,2,0,0,2,0,0
8,Daman & Diu,2001,2. Economic Setup,0,2,0,0,2,0,0
9,Delhi,2001,2. Economic Setup,129,686,0,40,858,3,0
10,Goa,2001,2. Economic Setup,28,62,1,1,93,1,0
11,Gujarat,2001,2. Economic Setup,711,3332,9,306,4370,5,7
12,Haryana,2001,2. Economic Setup,502,1086,86,339,2015,0,2
13,Himachal Pradesh,2001,2. Economic Setup,32,84,0,26,142,0,0
14,Jammu & Kashmir,2001,2. Economic Setup,1,1,0,0,2,0,0
15,Jharkhand,2001,2. Economic Setup,35,248,3,11,298,0,1
16,Karnataka,2001,2. Economic Setup,42,736,11,51,843,0,3
17,Kerala,2001,2. Economic Setup,1,127,0,4,132,0,0
18,Lakshadweep,2001,2. Economic Setup,0,1,0,0,1,0,0
19,Madhya Pradesh,2001,2. Economic Setup,1797,2451,293,2625,7328,61,101
20,Maharashtra,2001,2. Economic Setup,314,4626,4,46,4990,0,0
21,Manipur,2001,2. Economic Setup,0,0,0,0,0,0,0
22,Meghalaya,2001,2. Economic Setup,7,56,0,3,66,0,0
23,Mizoram,2001,2. Economic Setup,6,41,0,2,49,0,0
24,Nagaland,2001,2. Economic Setup,0,26,0,0,26,0,0
25,Odisha,2001,2. Economic Setup,23,188,0,1,212,0,0
26,Puducherry,2001,2. Economic Setup,0,3,0,0,3,0,0
27,Punjab,2001,2. Economic Setup,5,15,3,6,29,0,0
28,Rajasthan,2001,2. Economic Setup,666,2202,64,301,3245,0,12
29,Sikkim,2001,2. Economic Setup,0,17,0,0,17,0,0
...,...,...,...,...,...,...,...,...,...,...
320,Chandigarh,2010,2. Economic Setup,29,87,11,41,168,0,0
321,Chhattisgarh,2010,2. Economic Setup,550,1663,17,126,2356,0,0
322,Dadra & Nagar Haveli,2010,2. Economic Setup,8,7,0,4,19,0,0
323,Daman & Diu,2010,2. Economic Setup,2,3,2,2,10,0,1
324,Delhi,2010,2. Economic Setup,122,408,18,70,627,3,6
325,Goa,2010,2. Economic Setup,22,39,4,9,77,0,3
326,Gujarat,2010,2. Economic Setup,379,1642,17,75,2121,2,6
327,Haryana,2010,2. Economic Setup,326,305,31,223,907,8,14
328,Himachal Pradesh,2010,2. Economic Setup,78,113,6,6,218,12,3
329,Jammu & Kashmir,2010,2. Economic Setup,10,9,2,6,27,0,0
330,Jharkhand,2010,2. Economic Setup,61,33,0,10,104,0,0
331,Karnataka,2010,2. Economic Setup,50,139,0,13,204,0,2
332,Kerala,2010,2. Economic Setup,245,422,36,115,826,0,8
333,Lakshadweep,2010,2. Economic Setup,0,0,0,0,0,0,0
334,Madhya Pradesh,2010,2. Economic Setup,1685,4002,172,578,6449,1,11
335,Maharashtra,2010,2. Economic Setup,1254,4186,213,603,6388,13,119
336,Manipur,2010,2. Economic Setup,0,0,0,0,0,0,0
337,Meghalaya,2010,2. Economic Setup,22,77,1,18,118,0,0
338,Mizoram,2010,2. Economic Setup,90,25,0,1,116,0,0
339,Nagaland,2010,2. Economic Setup,9,44,0,0,53,0,0
340,Odisha,2010,2. Economic Setup,66,447,2,29,544,0,0
341,Puducherry,2010,2. Economic Setup,7,42,0,0,49,0,0
342,Punjab,2010,2. Economic Setup,81,151,0,14,246,0,0
343,Rajasthan,2010,2. Economic Setup,683,1290,90,279,2378,9,27
344,Sikkim,2010,2. Economic Setup,0,82,0,0,82,0,0
345,Tamil Nadu,2010,2. Economic Setup,223,1374,3,44,1644,0,0
346,Tripura,2010,2. Economic Setup,11,32,0,3,46,0,0
347,Uttar Pradesh,2010,2. Economic Setup,251,269,109,197,852,4,22
348,Uttarakhand,2010,2. Economic Setup,63,21,24,30,154,0,16
349,West Bengal,2010,2. Economic Setup,117,140,1,78,337,0,1

In [95]:
#Displaying the juvenile Family background
df_juv_fam_back

,Area_Name,Year,Sub_Group_Name,Family_back_ground_Homeless,Family_back_ground_Living_with_guardian,Family_back_ground_Living_with_parents,Family_back_ground_Total
0,Andaman & Nicobar Islands,2001,3. Family Background,0,0,16,16
1,Andhra Pradesh,2001,3. Family Background,552,287,726,1565
2,Arunachal Pradesh,2001,3. Family Background,0,58,79,137
3,Assam,2001,3. Family Background,21,74,158,253
4,Bihar,2001,3. Family Background,43,101,442,586
5,Chandigarh,2001,3. Family Background,0,4,67,71
6,Chhattisgarh,2001,3. Family Background,37,143,1182,1362
7,Dadra & Nagar Haveli,2001,3. Family Background,0,0,2,2
8,Daman & Diu,2001,3. Family Background,2,0,0,2
9,Delhi,2001,3. Family Background,88,84,686,858
10,Goa,2001,3. Family Background,1,6,86,93
11,Gujarat,2001,3. Family Background,918,182,3270,4370
12,Haryana,2001,3. Family Background,35,84,1896,2015
13,Himachal Pradesh,2001,3. Family Background,0,5,137,142
14,Jammu & Kashmir,2001,3. Family Background,0,0,2,2
15,Jharkhand,2001,3. Family Background,80,58,160,298
16,Karnataka,2001,3. Family Background,39,111,693,843
17,Kerala,2001,3. Family Background,16,28,88,132
18,Lakshadweep,2001,3. Family Background,0,0,1,1
19,Madhya Pradesh,2001,3. Family Background,116,1527,5685,7328
20,Maharashtra,2001,3. Family Background,168,503,4319,4990
21,Manipur,2001,3. Family Background,0,0,0,0
22,Meghalaya,2001,3. Family Background,2,25,39,66
23,Mizoram,2001,3. Family Background,2,14,33,49
24,Nagaland,2001,3. Family Background,2,3,21,26
25,Odisha,2001,3. Family Background,7,41,164,212
26,Puducherry,2001,3. Family Background,0,0,3,3
27,Punjab,2001,3. Family Background,0,0,29,29
28,Rajasthan,2001,3. Family Background,36,217,2992,3245
29,Sikkim,2001,3. Family Background,0,5,12,17
...,...,...,...,...,...,...,...
320,Chandigarh,2010,3. Family Background,0,8,160,168
321,Chhattisgarh,2010,3. Family Background,33,430,1893,2356
322,Dadra & Nagar Haveli,2010,3. Family Background,0,0,19,19
323,Daman & Diu,2010,3. Family Background,2,4,4,10
324,Delhi,2010,3. Family Background,36,87,504,627
325,Goa,2010,3. Family Background,0,2,75,77
326,Gujarat,2010,3. Family Background,164,281,1676,2121
327,Haryana,2010,3. Family Background,149,18,740,907
328,Himachal Pradesh,2010,3. Family Background,0,4,214,218
329,Jammu & Kashmir,2010,3. Family Background,0,1,26,27
330,Jharkhand,2010,3. Family Background,3,5,96,104
331,Karnataka,2010,3. Family Background,8,27,169,204
332,Kerala,2010,3. Family Background,7,55,764,826
333,Lakshadweep,2010,3. Family Background,0,0,0,0
334,Madhya Pradesh,2010,3. Family Background,204,919,5326,6449
335,Maharashtra,2010,3. Family Background,429,793,5166,6388
336,Manipur,2010,3. Family Background,0,0,0,0
337,Meghalaya,2010,3. Family Background,0,49,69,118
338,Mizoram,2010,3. Family Background,0,2,114,116
339,Nagaland,2010,3. Family Background,0,11,42,53
340,Odisha,2010,3. Family Background,28,73,443,544
341,Puducherry,2010,3. Family Background,0,3,46,49
342,Punjab,2010,3. Family Background,2,21,223,246
343,Rajasthan,2010,3. Family Background,43,165,2170,2378
344,Sikkim,2010,3. Family Background,2,10,70,82
345,Tamil Nadu,2010,3. Family Background,116,302,1226,1644
346,Tripura,2010,3. Family Background,0,0,46,46
347,Uttar Pradesh,2010,3. Family Background,13,98,741,852
348,Uttarakhand,2010,3. Family Background,42,2,110,154
349,West Bengal,2010,3. Family Background,18,122,197,337

In [98]:
df_juv_fam_back.columns

Index(['Area_Name', 'Year', 'Sub_Group_Name', 'Family_back_ground_Homeless',
       'Family_back_ground_Living_with_guardian',
       'Family_back_ground_Living_with_parents', 'Family_back_ground_Total'],
      dtype='object')

In [99]:
#groupping each table by Area_Name
df_juv_edu_group=df_juv_edu.groupby(["Area_Name"]).agg({"Education_Above_Primary_but_below_Matric_or_Higher_Secondary":"sum","Education_Illiterate":"sum","Education_Matric_or_Higher_Secondary_&_above":"sum","Education_Total":"sum","Education_Upto_primary":"sum"})
df_juv_eco_group=df_juv_eco.groupby(["Area_Name"]).agg({"Economic_Set_up_Annual_Income_250001_to_50000":"sum","Economic_Set_up_Annual_Income_upto_Rs_25000":"sum","Economic_Set_up_Middle_income_from_100001_to_200000":"sum","Economic_Set_up_Middle_income_from_50001_to_100000":"sum","Economic_Set_up_Total":"sum","Economic_Set_up_Upper_income_above_Rs_300000":"sum","Economic_Set_up_Upper_middle_income_from_200001_to_300000":"sum"})
df_juv_fam_back_group=df_juv_fam_back.groupby(["Area_Name"]).agg({"Family_back_ground_Homeless":"sum","Family_back_ground_Living_with_guardian":"sum","Family_back_ground_Living_with_parents":"sum","Family_back_ground_Total":"sum"})

In [100]:
#Displaying juvenile education grouped by Area
df_juv_edu_group

,Education_Above_Primary_but_below_Matric_or_Higher_Secondary,Education_Illiterate,Education_Matric_or_Higher_Secondary_&_above,Education_Total,Education_Upto_primary
Area_Name,,,,,
Andaman & Nicobar Islands,175,1,21,339,142
Andhra Pradesh,3629,8280,1264,19914,6741
Arunachal Pradesh,477,199,86,1193,431
Assam,1242,1664,591,4953,1456
Bihar,2098,2229,428,6871,2116
Chandigarh,475,274,122,1177,306
Chhattisgarh,6290,5642,1521,22104,8651
Dadra & Nagar Haveli,31,16,16,114,51
Daman & Diu,18,13,13,48,4
Delhi,2233,3648,548,9230,2801
Goa,254,243,65,753,191
Gujarat,7137,6185,1871,28830,13637
Haryana,8401,2327,2072,17484,4684
Himachal Pradesh,725,51,464,1522,282
Jammu & Kashmir,50,17,18,114,29
Jharkhand,1128,2395,936,6559,2100
Karnataka,1453,1436,402,4437,1146
Kerala,2479,217,1517,5404,1191
Lakshadweep,0,0,1,2,1
Madhya Pradesh,18981,19130,5533,71254,27610
Maharashtra,21518,9915,4703,61111,24975
Manipur,0,0,0,0,0
Meghalaya,172,314,18,840,336
Mizoram,589,420,156,1808,643
Nagaland,67,7,9,123,40
Odisha,1398,1585,279,4816,1554
Puducherry,47,42,4,440,347
Punjab,332,483,195,1428,418
Rajasthan,7449,4585,1276,22273,8963
Sikkim,110,66,2,381,203
Tamil Nadu,2842,13215,518,29906,13331
Tripura,25,94,9,209,81
Uttar Pradesh,961,584,372,2936,1019
Uttarakhand,255,261,227,996,253
West Bengal,596,324,203,1906,783

In [101]:
#Displaying juvenile economic setup grouped by Area
df_juv_eco_group

,Economic_Set_up_Annual_Income_250001_to_50000,Economic_Set_up_Annual_Income_upto_Rs_25000,Economic_Set_up_Middle_income_from_100001_to_200000,Economic_Set_up_Middle_income_from_50001_to_100000,Economic_Set_up_Total,Economic_Set_up_Upper_income_above_Rs_300000,Economic_Set_up_Upper_middle_income_from_200001_to_300000
Area_Name,,,,,,,
Andaman & Nicobar Islands,200,74,12,53,339,0,0
Andhra Pradesh,3870,14487,213,1311,19914,16,17
Arunachal Pradesh,543,390,30,230,1193,0,0
Assam,1101,3256,162,343,4953,31,60
Bihar,2214,3669,204,767,6871,5,12
Chandigarh,348,503,57,263,1177,0,6
Chhattisgarh,4506,14576,653,2014,22104,77,278
Dadra & Nagar Haveli,37,65,2,10,114,0,0
Daman & Diu,15,20,2,10,48,0,1
Delhi,1903,6664,85,548,9230,13,17
Goa,141,528,14,62,753,3,5
Gujarat,3902,23314,170,1304,28830,58,82
Haryana,5748,8729,590,2236,17484,26,155
Himachal Pradesh,522,787,26,172,1522,12,3
Jammu & Kashmir,38,53,5,14,114,2,2
Jharkhand,1829,3583,431,675,6559,20,21
Karnataka,635,3379,84,305,4437,6,28
Kerala,1726,2885,146,628,5404,0,19
Lakshadweep,0,2,0,0,2,0,0
Madhya Pradesh,14979,45263,2084,8604,71254,95,229
Maharashtra,9833,46263,1235,3312,61111,60,408
Manipur,0,0,0,0,0,0,0
Meghalaya,163,607,15,54,840,0,1
Mizoram,415,1192,70,104,1808,3,24
Nagaland,11,94,3,14,123,0,1
Odisha,693,3942,13,163,4816,0,5
Puducherry,152,268,0,20,440,0,0
Punjab,529,746,27,114,1428,10,2
Rajasthan,4889,14423,573,2213,22273,12,163
Sikkim,28,344,0,9,381,0,0
Tamil Nadu,2668,26763,37,406,29906,7,25
Tripura,55,117,3,34,209,0,0
Uttar Pradesh,957,1204,210,528,2936,4,33
Uttarakhand,304,494,41,139,996,0,18
West Bengal,556,1144,21,175,1906,3,7

In [102]:
#displying family backgrund of juvenile grouped by Area
df_juv_fam_back_group

,Family_back_ground_Homeless,Family_back_ground_Living_with_guardian,Family_back_ground_Living_with_parents,Family_back_ground_Total
Area_Name,,,,
Andaman & Nicobar Islands,0,37,302,339
Andhra Pradesh,5234,3061,11619,19914
Arunachal Pradesh,1,505,687,1193
Assam,647,1624,2682,4953
Bihar,553,1256,5062,6871
Chandigarh,35,55,1087,1177
Chhattisgarh,765,3125,18214,22104
Dadra & Nagar Haveli,0,0,114,114
Daman & Diu,4,11,33,48
Delhi,746,1748,6736,9230
Goa,21,34,698,753
Gujarat,2586,2456,23788,28830
Haryana,951,985,15548,17484
Himachal Pradesh,0,93,1429,1522
Jammu & Kashmir,1,1,112,114
Jharkhand,702,2352,3505,6559
Karnataka,237,599,3601,4437
Kerala,176,478,4750,5404
Lakshadweep,0,0,2,2
Madhya Pradesh,2754,13035,55465,71254
Maharashtra,2681,7623,50807,61111
Manipur,0,0,0,0
Meghalaya,39,249,552,840
Mizoram,117,325,1366,1808
Nagaland,14,26,83,123
Odisha,244,691,3881,4816
Puducherry,47,12,381,440
Punjab,27,37,1364,1428
Rajasthan,352,1784,20137,22273
Sikkim,9,28,344,381
Tamil Nadu,3018,4105,22783,29906
Tripura,43,52,114,209
Uttar Pradesh,61,326,2549,2936
Uttarakhand,86,72,838,996
West Bengal,196,845,865,1906

In [103]:
#Making the final table based on common idex
df_final_juvenile_info=pd.concat([df_juv_edu_group,df_juv_eco_group,df_juv_fam_back_group],axis=1)

In [104]:
#Displaying the final table
df_final_juvenile_info
#Now from below table we can extract juvenile info as per Area as required

,Education_Above_Primary_but_below_Matric_or_Higher_Secondary,Education_Illiterate,Education_Matric_or_Higher_Secondary_&_above,Education_Total,Education_Upto_primary,Economic_Set_up_Annual_Income_250001_to_50000,Economic_Set_up_Annual_Income_upto_Rs_25000,Economic_Set_up_Middle_income_from_100001_to_200000,Economic_Set_up_Middle_income_from_50001_to_100000,Economic_Set_up_Total,Economic_Set_up_Upper_income_above_Rs_300000,Economic_Set_up_Upper_middle_income_from_200001_to_300000,Family_back_ground_Homeless,Family_back_ground_Living_with_guardian,Family_back_ground_Living_with_parents,Family_back_ground_Total
Area_Name,,,,,,,,,,,,,,,,
Andaman & Nicobar Islands,175,1,21,339,142,200,74,12,53,339,0,0,0,37,302,339
Andhra Pradesh,3629,8280,1264,19914,6741,3870,14487,213,1311,19914,16,17,5234,3061,11619,19914
Arunachal Pradesh,477,199,86,1193,431,543,390,30,230,1193,0,0,1,505,687,1193
Assam,1242,1664,591,4953,1456,1101,3256,162,343,4953,31,60,647,1624,2682,4953
Bihar,2098,2229,428,6871,2116,2214,3669,204,767,6871,5,12,553,1256,5062,6871
Chandigarh,475,274,122,1177,306,348,503,57,263,1177,0,6,35,55,1087,1177
Chhattisgarh,6290,5642,1521,22104,8651,4506,14576,653,2014,22104,77,278,765,3125,18214,22104
Dadra & Nagar Haveli,31,16,16,114,51,37,65,2,10,114,0,0,0,0,114,114
Daman & Diu,18,13,13,48,4,15,20,2,10,48,0,1,4,11,33,48
Delhi,2233,3648,548,9230,2801,1903,6664,85,548,9230,13,17,746,1748,6736,9230
Goa,254,243,65,753,191,141,528,14,62,753,3,5,21,34,698,753
Gujarat,7137,6185,1871,28830,13637,3902,23314,170,1304,28830,58,82,2586,2456,23788,28830
Haryana,8401,2327,2072,17484,4684,5748,8729,590,2236,17484,26,155,951,985,15548,17484
Himachal Pradesh,725,51,464,1522,282,522,787,26,172,1522,12,3,0,93,1429,1522
Jammu & Kashmir,50,17,18,114,29,38,53,5,14,114,2,2,1,1,112,114
Jharkhand,1128,2395,936,6559,2100,1829,3583,431,675,6559,20,21,702,2352,3505,6559
Karnataka,1453,1436,402,4437,1146,635,3379,84,305,4437,6,28,237,599,3601,4437
Kerala,2479,217,1517,5404,1191,1726,2885,146,628,5404,0,19,176,478,4750,5404
Lakshadweep,0,0,1,2,1,0,2,0,0,2,0,0,0,0,2,2
Madhya Pradesh,18981,19130,5533,71254,27610,14979,45263,2084,8604,71254,95,229,2754,13035,55465,71254
Maharashtra,21518,9915,4703,61111,24975,9833,46263,1235,3312,61111,60,408,2681,7623,50807,61111
Manipur,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Meghalaya,172,314,18,840,336,163,607,15,54,840,0,1,39,249,552,840
Mizoram,589,420,156,1808,643,415,1192,70,104,1808,3,24,117,325,1366,1808
Nagaland,67,7,9,123,40,11,94,3,14,123,0,1,14,26,83,123
Odisha,1398,1585,279,4816,1554,693,3942,13,163,4816,0,5,244,691,3881,4816
Puducherry,47,42,4,440,347,152,268,0,20,440,0,0,47,12,381,440
Punjab,332,483,195,1428,418,529,746,27,114,1428,10,2,27,37,1364,1428
Rajasthan,7449,4585,1276,22273,8963,4889,14423,573,2213,22273,12,163,352,1784,20137,22273
Sikkim,110,66,2,381,203,28,344,0,9,381,0,0,9,28,344,381
Tamil Nadu,2842,13215,518,29906,13331,2668,26763,37,406,29906,7,25,3018,4105,22783,29906
Tripura,25,94,9,209,81,55,117,3,34,209,0,0,43,52,114,209
Uttar Pradesh,961,584,372,2936,1019,957,1204,210,528,2936,4,33,61,326,2549,2936
Uttarakhand,255,261,227,996,253,304,494,41,139,996,0,18,86,72,838,996
West Bengal,596,324,203,1906,783,556,1144,21,175,1906,3,7,196,845,865,1906

Which state has more crime against children and women

In [129]:
#Lets import the data set relevant to the women
df_women=pd.read_csv("42_District_wise_crimes_committed_against_women_2001_2012.csv")
df_women

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0
5,ANDHRA PRADESH,GUNTAKAL RLY.,2001,0,0,0,1,0,0,0
6,ANDHRA PRADESH,GUNTUR,2001,54,51,7,139,129,378,0
7,ANDHRA PRADESH,HYDERABAD CITY,2001,37,39,24,118,27,746,0
8,ANDHRA PRADESH,KARIMNAGAR,2001,56,49,62,414,81,224,0
9,ANDHRA PRADESH,KHAMMAM,2001,47,30,17,180,336,172,0
10,ANDHRA PRADESH,KRISHNA,2001,37,21,10,208,72,265,0
11,ANDHRA PRADESH,KURNOOL,2001,29,47,13,141,107,92,0
12,ANDHRA PRADESH,MAHABOOBNAGAR,2001,59,27,14,176,41,69,0
13,ANDHRA PRADESH,MEDAK,2001,35,20,26,100,25,192,0
14,ANDHRA PRADESH,NALGONDA,2001,35,19,31,188,59,214,0
15,ANDHRA PRADESH,NELLORE,2001,46,80,10,207,228,287,0
16,ANDHRA PRADESH,NIZAMABAD,2001,21,21,19,55,15,228,0
17,ANDHRA PRADESH,PRAKASHAM,2001,19,12,5,140,100,119,0
18,ANDHRA PRADESH,RANGA REDDY,2001,72,83,37,113,55,421,7
19,ANDHRA PRADESH,SECUNDERABAD RLY.,2001,0,0,1,0,1,0,0
20,ANDHRA PRADESH,SRIKAKULAM,2001,8,12,6,38,47,108,0
21,ANDHRA PRADESH,VIJAYAWADA,2001,25,48,2,84,122,520,0
22,ANDHRA PRADESH,VIJAYAWADA RLY.,2001,1,0,0,1,1,0,0
23,ANDHRA PRADESH,VISAKHA RURAL,2001,12,12,3,67,48,99,0
24,ANDHRA PRADESH,VISAKHAPATNAM,2001,13,6,0,33,462,204,0
25,ANDHRA PRADESH,VIZIANAGARAM,2001,8,2,0,40,22,121,0
26,ANDHRA PRADESH,WARANGAL,2001,53,25,52,241,0,165,0
27,ANDHRA PRADESH,WEST GODAVARI,2001,61,21,15,246,56,348,0
28,ANDHRA PRADESH,TOTAL,2001,871,765,420,3544,2271,5791,7
29,ARUNACHAL PRADESH,CHANGLANG,2001,1,2,0,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...
8987,CHANDIGARH,CHANDIGARH,2012,27,66,5,45,25,73,0
8988,CHANDIGARH,TOTAL,2012,27,66,5,45,25,73,0
8989,D & N HAVELI,D and N HAVELI,2012,3,9,0,2,0,0,0
8990,D & N HAVELI,TOTAL,2012,3,9,0,2,0,0,0
8991,DAMAN & DIU,DAMAN,2012,5,0,0,0,0,1,0
8992,DAMAN & DIU,DIU,2012,0,0,0,0,0,2,0
8993,DAMAN & DIU,TOTAL,2012,5,0,0,0,0,3,0
8994,DELHI,CAW,2012,0,0,0,0,0,178,0
8995,DELHI,CENTRAL,2012,31,95,4,47,12,57,0
8996,DELHI,CRIME BRANCH,2012,1,1,0,0,0,0,0
8997,DELHI,DELHI UT TOTAL,2012,706,2160,134,727,208,1985,0
8998,DELHI,EAST,2012,90,251,7,96,26,202,0
8999,DELHI,EOW,2012,0,0,0,0,0,0,0
9000,DELHI,GRP(RLY),2012,4,12,1,12,6,0,0
9001,DELHI,IGI AIRPORT,2012,0,0,0,6,0,0,0
9002,DELHI,NEW DELHI,2012,5,13,0,29,7,4,0
9003,DELHI,NORTH,2012,14,84,6,29,10,70,0
9004,DELHI,NORTH-EAST,2012,78,263,25,69,9,293,0
9005,DELHI,NORTH-WEST,2012,64,184,12,19,14,212,0
9006,DELHI,OUTER,2012,67,317,15,79,18,244,0
9007,DELHI,SOUTH,2012,70,134,17,59,36,68,0
9008,DELHI,SOUTH-EAST,2012,116,306,11,160,43,123,0
9009,DELHI,SOUTH-WEST,2012,87,244,18,69,21,207,0
9010,DELHI,STF,2012,0,0,0,0,0,0,0
9011,DELHI,WEST,2012,79,256,18,53,6,327,0
9012,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,1,0,1,0
9013,LAKSHADWEEP,TOTAL,2012,0,0,0,1,0,1,0
9014,PUDUCHERRY,KARAIKAL,2012,6,2,0,2,0,1,0
9015,PUDUCHERRY,PUDUCHERRY,2012,7,14,0,7,2,5,0
9016,PUDUCHERRY,TOTAL,2012,13,16,0,9,2,6,0

In [130]:
#lets import the dataset of crime comitted against children
df_children=pd.read_csv("03_District_wise_crimes_committed_against_children_2001_2012.csv")
df_children

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Foeticide,Abetment of suicide,Exposure and abandonment,Procuration of minor girls,Buying of girls for prostitution,Selling of girls for prostitution,Prohibition of child marriage act,Other Crimes,Total
0,ANDHRA PRADESH,ADILABAD,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,ANDHRA PRADESH,ANANTAPUR,2001,19.0,12.0,29.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,66
2,ANDHRA PRADESH,CHITTOOR,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,ANDHRA PRADESH,CUDDAPAH,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
5,ANDHRA PRADESH,GUNTAKAL RLY.,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
6,ANDHRA PRADESH,GUNTUR,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
7,ANDHRA PRADESH,HYDERABAD CITY,2001,2.0,0.0,0.0,0.0,0.0,19.0,2.0,0.0,0.0,2.0,0.0,25
8,ANDHRA PRADESH,KARIMNAGAR,2001,1.0,4.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,1.0,9
9,ANDHRA PRADESH,KHAMMAM,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
10,ANDHRA PRADESH,KRISHNA,2001,1.0,11.0,2.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,18
11,ANDHRA PRADESH,KURNOOL,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
12,ANDHRA PRADESH,MAHABOOBNAGAR,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
13,ANDHRA PRADESH,MEDAK,2001,1.0,18.0,12.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,34
14,ANDHRA PRADESH,NALGONDA,2001,0.0,16.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20
15,ANDHRA PRADESH,NELLORE,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
16,ANDHRA PRADESH,NIZAMABAD,2001,3.0,3.0,6.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,39.0,54
17,ANDHRA PRADESH,PRAKASHAM,2001,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
18,ANDHRA PRADESH,RANGA REDDY,2001,2.0,3.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,1.0,9
19,ANDHRA PRADESH,SECUNDERABAD RLY.,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
20,ANDHRA PRADESH,SRIKAKULAM,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
21,ANDHRA PRADESH,VIJAYAWADA,2001,5.0,8.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,23
22,ANDHRA PRADESH,VIJAYAWADA RLY.,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
23,ANDHRA PRADESH,VISAKHA RURAL,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
24,ANDHRA PRADESH,VISAKHAPATNAM,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
25,ANDHRA PRADESH,VIZIANAGARAM,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
26,ANDHRA PRADESH,WARANGAL,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
27,ANDHRA PRADESH,WEST GODAVARI,2001,1.0,6.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,9
28,ANDHRA PRADESH,TOTAL,2001,35.0,84.0,57.0,0.0,7.0,22.0,12.0,0.0,0.0,6.0,47.0,270
29,ARUNACHAL PRADESH,CHANGLANG,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8985,CHANDIGARH,CHANDIGARH,2012,1.0,17.0,59.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,9.0,96
8986,CHANDIGARH,TOTAL,2012,1.0,17.0,59.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,9.0,96
8987,D & N HAVELI,D and N HAVELI,2012,1.0,1.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8
8988,D & N HAVELI,TOTAL,2012,1.0,1.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8
8989,DAMAN & DIU,DAMAN,2012,0.0,4.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,7
8990,DAMAN & DIU,DIU,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
8991,DAMAN & DIU,TOTAL,2012,0.0,4.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,8
8992,DELHI,CAW,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
8993,DELHI,CENTRAL,2012,0.0,15.0,167.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,29.0,216
8994,DELHI,CRIME BRANCH,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
8995,DELHI,EAST,2012,4.0,40.0,467.0,0.0,0.0,17.0,3.0,1.0,1.0,0.0,1.0,534
8996,DELHI,EOW,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
8997,DELHI,GRP(RLY),2012,3.0,4.0,25.0,0.0,0.0,11.0,0.0,0.0,0.0,0.0,2.0,45
8998,DELHI,IGI AIRPORT,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
8999,DELHI,NEW DELHI,2012,1.0,0.0,22.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,9.0,35
9000,DELHI,NORTH,2012,2.0,7.0,146.0,0.0,0.0,5.0,0.0,0.0,0.0,1.0,12.0,173
9001,DELHI,NORTH-EAST,2012,5.0,54.0,484.0,1.0,0.0,4.0,0.0,0.0,3.0,0.0,7.0,558
9002,DELHI,NORTH-WEST,2012,8.0,42.0,339.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,14.0,405
9003,DELHI,OUTER,2012,5.0,42.0,538.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,13.0,601
9004,DELHI,SOUTH,2012,2.0,42.0,221.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,20.0,290
9005,DELHI,SOUTH-EAST,2012,5.0,67.0,490.0,1.0,0.0,4.0,0.0,0.0,0.0,0.0,46.0,613
9006,DELHI,SOUTH-WEST,2012,3.0,56.0,360.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,28.0,450
9007,DELHI,STF,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9008,DELHI,WEST,2012,3.0,46.0,427.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,60.0,542
9009,DELHI,TOTAL,2012,41.0,415.0,3686.0,2.0,0.0,68.0,3.0,1.0,4.0,1.0,241.0,4462
9010,LAKSHADWEEP,LAKSHADWEEP,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9011,LAKSHADWEEP,TOTAL,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9012,PUDUCHERRY,KARAIKAL,2012,0.0,3.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,7
9013,PUDUCHERRY,PUDUCHERRY,2012,0.0,4.0,16.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,25
9014,PUDUCHERRY,TOTAL,2012,0.0,7.0,18.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,3.0,32

In [131]:
df_women.columns

Index(['STATE/UT', 'DISTRICT', 'Year', 'Rape', 'Kidnapping and Abduction',
       'Dowry Deaths', 'Assault on women with intent to outrage her modesty',
       'Insult to modesty of Women', 'Cruelty by Husband or his Relatives',
       'Importation of Girls'],
      dtype='object')

In [132]:
#lets first chcek the which states has high number of crimes against women
df_women_group=df_women.groupby(["STATE/UT"]).agg({"Rape":"sum","Kidnapping and Abduction":"sum","Dowry Deaths":"sum","Assault on women with intent to outrage her modesty":"sum","Insult to modesty of Women":"sum","Cruelty by Husband or his Relatives":"sum","Importation of Girls":"sum"})

In [133]:
#Lets display the total of different types of crimes grouped by state/UT
df_women_group

,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
STATE/UT,,,,,,,
A & N ISLANDS,218,154,12,428,86,242,0
ANDHRA PRADESH,26958,29872,12430,103998,72262,238014,34
ARUNACHAL PRADESH,1000,1116,4,1568,36,334,0
ASSAM,32356,45840,2552,27240,224,78776,16
BIHAR,26248,38778,27096,15152,452,51360,880
CHANDIGARH,562,1068,84,628,286,1614,0
CHHATTISGARH,23676,5260,2284,38330,3450,19146,10
D & N HAVELI,112,188,2,100,8,76,0
DAMAN & DIU,40,30,6,30,4,70,0
DELHI,12848,31300,3164,15068,3374,30422,2
GOA,700,328,38,656,246,382,0
GUJARAT,8498,25836,1004,17996,2730,118862,0
HARYANA,12820,12258,6260,10646,16376,54224,0
HIMACHAL PRADESH,3608,3082,110,7194,878,6490,0
JAMMU & KASHMIR,5620,17640,270,23018,7986,3600,0
JHARKHAND,18318,10564,6582,7970,494,16818,290
KARNATAKA,10348,10630,5836,47398,1662,60104,94
KERALA,14894,3796,602,62980,6608,92148,0
LAKSHADWEEP,14,2,0,10,0,14,0
MADHYA PRADESH,72174,18486,18072,159756,18634,79938,120
MAHARASHTRA,35972,21706,8498,78438,24220,160726,4
MANIPUR,774,2114,4,1008,6,438,0
MEGHALAYA,2040,528,30,1064,16,330,8
MIZORAM,1652,20,8,1632,12,108,6
NAGALAND,440,142,0,192,20,18,2
ODISHA,22860,16582,9110,59892,5878,37394,36
PUDUCHERRY,154,242,52,1226,568,210,0
PUNJAB,10918,10770,3092,8094,1524,23996,4
RAJASTHAN,31596,49342,10132,61706,708,200202,12
SIKKIM,390,124,4,460,28,88,0
TAMIL NADU,13904,24872,4634,38658,20086,36376,30
TRIPURA,4116,1750,628,5546,78,13028,0
UTTAR PRADESH,38116,95180,47648,59396,53022,155234,6
UTTARAKHAND,2756,4668,1812,3090,3038,8284,2
WEST BENGAL,41574,43546,10344,45742,3108,261336,228

In [134]:
total_crimes_women=list()
col_list=df_women_group.columns
df_women_group["total"]=0
for col in col_list:
    df_women_group["total"]=df_women_group["total"]+df_women_group[col]

In [135]:
#lets display the upadted table
df_women_group

,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls,total
STATE/UT,,,,,,,,
A & N ISLANDS,218,154,12,428,86,242,0,1140
ANDHRA PRADESH,26958,29872,12430,103998,72262,238014,34,483568
ARUNACHAL PRADESH,1000,1116,4,1568,36,334,0,4058
ASSAM,32356,45840,2552,27240,224,78776,16,187004
BIHAR,26248,38778,27096,15152,452,51360,880,159966
CHANDIGARH,562,1068,84,628,286,1614,0,4242
CHHATTISGARH,23676,5260,2284,38330,3450,19146,10,92156
D & N HAVELI,112,188,2,100,8,76,0,486
DAMAN & DIU,40,30,6,30,4,70,0,180
DELHI,12848,31300,3164,15068,3374,30422,2,96178
GOA,700,328,38,656,246,382,0,2350
GUJARAT,8498,25836,1004,17996,2730,118862,0,174926
HARYANA,12820,12258,6260,10646,16376,54224,0,112584
HIMACHAL PRADESH,3608,3082,110,7194,878,6490,0,21362
JAMMU & KASHMIR,5620,17640,270,23018,7986,3600,0,58134
JHARKHAND,18318,10564,6582,7970,494,16818,290,61036
KARNATAKA,10348,10630,5836,47398,1662,60104,94,136072
KERALA,14894,3796,602,62980,6608,92148,0,181028
LAKSHADWEEP,14,2,0,10,0,14,0,40
MADHYA PRADESH,72174,18486,18072,159756,18634,79938,120,367180
MAHARASHTRA,35972,21706,8498,78438,24220,160726,4,329564
MANIPUR,774,2114,4,1008,6,438,0,4344
MEGHALAYA,2040,528,30,1064,16,330,8,4016
MIZORAM,1652,20,8,1632,12,108,6,3438
NAGALAND,440,142,0,192,20,18,2,814
ODISHA,22860,16582,9110,59892,5878,37394,36,151752
PUDUCHERRY,154,242,52,1226,568,210,0,2452
PUNJAB,10918,10770,3092,8094,1524,23996,4,58398
RAJASTHAN,31596,49342,10132,61706,708,200202,12,353698
SIKKIM,390,124,4,460,28,88,0,1094
TAMIL NADU,13904,24872,4634,38658,20086,36376,30,138560
TRIPURA,4116,1750,628,5546,78,13028,0,25146
UTTAR PRADESH,38116,95180,47648,59396,53022,155234,6,448602
UTTARAKHAND,2756,4668,1812,3090,3038,8284,2,23650
WEST BENGAL,41574,43546,10344,45742,3108,261336,228,405878

In [137]:
#Lets drop the other columns except the last
df_women_group.drop(columns=df_women_group.columns[0:-1],axis=1,inplace=True)

In [138]:
#Lets again chcek the table
df_women_group

                    total
STATE/UT
A & N ISLANDS        1140
ANDHRA PRADESH     483568
ARUNACHAL PRADESH    4058
ASSAM              187004
BIHAR              159966
CHANDIGARH           4242
CHHATTISGARH        92156
D & N HAVELI          486
DAMAN & DIU           180
DELHI               96178
GOA                  2350
GUJARAT            174926
HARYANA            112584
HIMACHAL PRADESH    21362
JAMMU & KASHMIR     58134
JHARKHAND           61036
KARNATAKA          136072
KERALA             181028
LAKSHADWEEP            40
MADHYA PRADESH     367180
MAHARASHTRA        329564
MANIPUR              4344
MEGHALAYA            4016
MIZORAM              3438
NAGALAND              814
ODISHA             151752
PUDUCHERRY           2452
PUNJAB              58398
RAJASTHAN          353698
SIKKIM               1094
TAMIL NADU         138560
TRIPURA             25146
UTTAR PRADESH      448602
UTTARAKHAND         23650
WEST BENGAL        405878

In [139]:
#lets describe the above table
df_women_group.describe()

               total
count      35.000000
mean   117002.742857
std    145174.104304
min        40.000000
25%      3727.000000
50%     58398.000000
75%    167446.000000
max    483568.000000

In [140]:
#lets display the states which has total above 75 percentile
df_women_group.loc[df_women_group["total"]>167446]
#so Below are the states where crime against women are more

                 total
STATE/UT
ANDHRA PRADESH  483568
ASSAM           187004
GUJARAT         174926
KERALA          181028
MADHYA PRADESH  367180
MAHARASHTRA     329564
RAJASTHAN       353698
UTTAR PRADESH   448602
WEST BENGAL     405878

In [141]:
df_children.columns

Index(['STATE/UT', 'DISTRICT', 'Year', 'Murder', 'Rape',
       'Kidnapping and Abduction', 'Foeticide', 'Abetment of suicide',
       'Exposure and abandonment', 'Procuration of minor girls',
       'Buying of girls for prostitution', 'Selling of girls for prostitution',
       'Prohibition of child marriage act', 'Other Crimes', 'Total'],
      dtype='object')

In [142]:
#Lets do the same activity for children dataset
#grouping  of total of various types of crimes by state
#here we alraedy have "Total" column
df_children_group=df_children.groupby(["STATE/UT"]).agg({"Total":"sum"})

In [143]:
#displaying the total crimes grouped by state against children
df_children_group

                   Total
STATE/UT
A & N ISLANDS        490
ANDHRA PRADESH     33158
ARUNACHAL PRADESH    500
ASSAM               3440
BIHAR              19726
CHANDIGARH          1506
CHHATTISGARH       26905
D & N HAVELI         206
DAMAN & DIU           76
DELHI              50049
GOA                 1600
GUJARAT            22350
HARYANA             8860
HIMACHAL PRADESH    3982
JAMMU & KASHMIR      864
JHARKHAND           1930
KARNATAKA           7068
KERALA             13882
LAKSHADWEEP            4
MADHYA PRADESH     90770
MAHARASHTRA        62602
MANIPUR             1230
MEGHALAYA           1440
MIZORAM              846
NAGALAND             136
ODISHA              4192
PUDUCHERRY           410
PUNJAB              9942
RAJASTHAN          22188
SIKKIM               554
TAMIL NADU         11838
TRIPURA             1732
UTTAR PRADESH      72004
UTTARAKHAND         1375
WEST BENGAL        13516

In [144]:
#Lets describe the above grouped dataset
df_children_group.describe()

              Total
count     35.000000
mean   14039.171429
std    22335.104039
min        4.000000
25%      855.000000
50%     3440.000000
75%    16804.000000
max    90770.000000

In [145]:
#Lets display the states which have maximum number of crimes against children
df_children_group.loc[df_children_group["Total"]>16804]

                Total
STATE/UT
ANDHRA PRADESH  33158
BIHAR           19726
CHHATTISGARH    26905
DELHI           50049
GUJARAT         22350
MADHYA PRADESH  90770
MAHARASHTRA     62602
RAJASTHAN       22188
UTTAR PRADESH   72004

Age group wise murder victim

In [146]:
#lets import the relevant dataset
df_murder=pd.read_csv("32_Murder_victim_age_sex.csv")
df_murder

,Area_Name,Year,Group_Name,Sub_Group_Name,Victims_Above_50_Yrs,Victims_Total,Victims_Upto_10_15_Yrs,Victims_Upto_10_Yrs,Victims_Upto_15_18_Yrs,Victims_Upto_18_30_Yrs,Victims_Upto_30_50_Yrs
0,Andaman & Nicobar Islands,2001,Murder - Female Victims,2. Female Victims,NaN,6,NaN,NaN,NaN,4.0,2.0
1,Andhra Pradesh,2001,Murder - Female Victims,2. Female Victims,67.0,607,15.0,38.0,43.0,269.0,175.0
2,Arunachal Pradesh,2001,Murder - Female Victims,2. Female Victims,2.0,16,0.0,0.0,0.0,10.0,4.0
3,Assam,2001,Murder - Female Victims,2. Female Victims,11.0,128,8.0,4.0,23.0,45.0,37.0
4,Bihar,2001,Murder - Female Victims,2. Female Victims,12.0,366,0.0,0.0,40.0,191.0,123.0
5,Chandigarh,2001,Murder - Female Victims,2. Female Victims,3.0,5,0.0,0.0,0.0,1.0,1.0
6,Chhattisgarh,2001,Murder - Female Victims,2. Female Victims,63.0,549,14.0,38.0,38.0,214.0,182.0
7,Delhi,2001,Murder - Female Victims,2. Female Victims,14.0,152,2.0,12.0,9.0,74.0,41.0
8,Goa,2001,Murder - Female Victims,2. Female Victims,1.0,13,NaN,NaN,NaN,4.0,8.0
9,Gujarat,2001,Murder - Female Victims,2. Female Victims,26.0,363,9.0,57.0,8.0,132.0,131.0
10,Haryana,2001,Murder - Female Victims,2. Female Victims,6.0,143,1.0,12.0,15.0,67.0,42.0
11,Himachal Pradesh,2001,Murder - Female Victims,2. Female Victims,6.0,39,1.0,1.0,1.0,11.0,19.0
12,Jammu & Kashmir,2001,Murder - Female Victims,2. Female Victims,24.0,187,13.0,2.0,27.0,68.0,53.0
13,Jharkhand,2001,Murder - Female Victims,2. Female Victims,24.0,291,0.0,0.0,39.0,126.0,102.0
14,Karnataka,2001,Murder - Female Victims,2. Female Victims,51.0,577,13.0,38.0,24.0,250.0,201.0
15,Kerala,2001,Murder - Female Victims,2. Female Victims,24.0,156,5.0,36.0,8.0,25.0,58.0
16,Lakshadweep,2001,Murder - Female Victims,2. Female Victims,0.0,2,1.0,1.0,0.0,0.0,0.0
17,Madhya Pradesh,2001,Murder - Female Victims,2. Female Victims,31.0,622,13.0,41.0,37.0,281.0,219.0
18,Maharashtra,2001,Murder - Female Victims,2. Female Victims,78.0,1068,28.0,76.0,41.0,555.0,290.0
19,Manipur,2001,Murder - Female Victims,2. Female Victims,1.0,8,NaN,2.0,NaN,2.0,3.0
20,Meghalaya,2001,Murder - Female Victims,2. Female Victims,0.0,6,0.0,0.0,0.0,4.0,2.0
21,Mizoram,2001,Murder - Female Victims,2. Female Victims,0.0,12,0.0,0.0,0.0,9.0,3.0
22,Nagaland,2001,Murder - Female Victims,2. Female Victims,0.0,2,0.0,0.0,2.0,0.0,0.0
23,Odisha,2001,Murder - Female Victims,2. Female Victims,26.0,260,0.0,0.0,13.0,140.0,81.0
24,Puducherry,2001,Murder - Female Victims,2. Female Victims,NaN,10,NaN,NaN,1.0,5.0,4.0
25,Punjab,2001,Murder - Female Victims,2. Female Victims,11.0,203,1.0,3.0,21.0,90.0,77.0
26,Rajasthan,2001,Murder - Female Victims,2. Female Victims,32.0,248,4.0,8.0,15.0,108.0,81.0
27,Sikkim,2001,Murder - Female Victims,2. Female Victims,NaN,6,NaN,NaN,NaN,1.0,5.0
28,Tamil Nadu,2001,Murder - Female Victims,2. Female Victims,34.0,525,8.0,5.0,113.0,174.0,191.0
29,Tripura,2001,Murder - Female Victims,2. Female Victims,2.0,9,NaN,NaN,2.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
988,Bihar,2010,Murder - Total Victims,3. Total,225.0,3362,44.0,26.0,132.0,1861.0,1074.0
989,Chandigarh,2010,Murder - Total Victims,3. Total,4.0,22,0.0,1.0,0.0,6.0,11.0
990,Chhattisgarh,2010,Murder - Total Victims,3. Total,145.0,1065,13.0,32.0,50.0,358.0,467.0
991,Dadra & Nagar Haveli,2010,Murder - Total Victims,3. Total,NaN,6,NaN,NaN,NaN,1.0,5.0
992,Daman & Diu,2010,Murder - Total Victims,3. Total,0.0,5,0.0,0.0,0.0,4.0,1.0
993,Delhi,2010,Murder - Total Victims,3. Total,39.0,577,11.0,10.0,18.0,293.0,206.0
994,Goa,2010,Murder - Total Victims,3. Total,2.0,35,0.0,0.0,1.0,14.0,18.0
995,Gujarat,2010,Murder - Total Victims,3. Total,110.0,1082,18.0,46.0,7.0,443.0,458.0
996,Haryana,2010,Murder - Total Victims,3. Total,79.0,1044,10.0,6.0,14.0,466.0,469.0
997,Himachal Pradesh,2010,Murder - Total Victims,3. Total,19.0,133,0.0,5.0,3.0,42.0,64.0
998,Jammu & Kashmir,2010,Murder - Total Victims,3. Total,22.0,235,0.0,1.0,0.0,106.0,106.0
999,Jharkhand,2010,Murder - Total Victims,3. Total,77.0,1752,2.0,4.0,2.0,1036.0,631.0
1000,Karnataka,2010,Murder - Total Victims,3. Total,187.0,1878,6.0,45.0,9.0,858.0,773.0
1001,Kerala,2010,Murder - Total Victims,3. Total,82.0,405,9.0,39.0,1.0,84.0,190.0
1002,Madhya Pradesh,2010,Murder - Total Victims,3. Total,304.0,2441,40.0,55.0,49.0,978.0,1015.0
1003,Maharashtra,2010,Murder - Total Victims,3. Total,322.0,2837,34.0,169.0,34.0,1222.0,1056.0
1004,Manipur,2010,Murder - Total Victims,3. Total,9.0,101,2.0,0.0,0.0,31.0,59.0
1005,Meghalaya,2010,Murder - Total Victims,3. Total,10.0,137,0.0,1.0,1.0,69.0,56.0
1006,Mizoram,2010,Murder - Total Victims,3. Total,9.0,48,0.0,0.0,2.0,8.0,29.0
1007,Nagaland,2010,Murder - Total Victims,3. Total,10.0,47,0.0,0.0,0.0,20.0,17.0
1008,Odisha,2010,Murder - Total Victims,3. Total,104.0,1319,0.0,10.0,2.0,566.0,637.0
1009,Puducherry,2010,Murder - Total Victims,3. Total,8.0,34,NaN,NaN,NaN,13.0,13.0
1010,Punjab,2010,Murder - Total Victims,3. Total,86.0,945,9.0,21.0,18.0,384.0,427.0
1011,Rajasthan,2010,Murder - Total Victims,3. Total,135.0,1421,22.0,29.0,42.0,567.0,626.0
1012,Sikkim,2010,Murder - Total Victims,3. Total,3.0,17,1.0,2.0,NaN,4.0,7.0
1013,Tamil Nadu,2010,Murder - Total Victims,3. Total,327.0,1908,13.0,63.0,16.0,650.0,839.0
1014,Tripura,2010,Murder - Total Victims,3. Total,24.0,159,2.0,0.0,0.0,60.0,73.0
1015,Uttar Pradesh,2010,Murder - Total Victims,3. Total,344.0,4456,82.0,138.0,126.0,2358.0,1408.0
1016,Uttarakhand,2010,Murder - Total Victims,3. Total,19.0,176,1.0,NaN,2.0,91.0,63.0
1017,West Bengal,2010,Murder - Total Victims,3. Total,120.0,2415,8.0,2.0,6.0,1177.0,1102.0

In [147]:
#Lets chcek the null values
df_murder.isnull().sum()
#we will not impute the missing values by mean or mode as total column is sum of non null values which will also need to changed changed
#We dont know whether total is actually total crimes so better keep it as it is

Area_Name                   0
Year                        0
Group_Name                  0
Sub_Group_Name              0
Victims_Above_50_Yrs       56
Victims_Total               0
Victims_Upto_10_15_Yrs    142
Victims_Upto_10_Yrs       118
Victims_Upto_15_18_Yrs    130
Victims_Upto_18_30_Yrs      9
Victims_Upto_30_50_Yrs     11
dtype: int64

In [148]:
#Lets replace the null values with 0
df_murder.fillna(0,inplace=True)

In [149]:
#Lets again check the null values existence
df_murder.isnull().sum()

Area_Name                 0
Year                      0
Group_Name                0
Sub_Group_Name            0
Victims_Above_50_Yrs      0
Victims_Total             0
Victims_Upto_10_15_Yrs    0
Victims_Upto_10_Yrs       0
Victims_Upto_15_18_Yrs    0
Victims_Upto_18_30_Yrs    0
Victims_Upto_30_50_Yrs    0
dtype: int64

In [150]:
#Displaying the murder table
df_murder

,Area_Name,Year,Group_Name,Sub_Group_Name,Victims_Above_50_Yrs,Victims_Total,Victims_Upto_10_15_Yrs,Victims_Upto_10_Yrs,Victims_Upto_15_18_Yrs,Victims_Upto_18_30_Yrs,Victims_Upto_30_50_Yrs
0,Andaman & Nicobar Islands,2001,Murder - Female Victims,2. Female Victims,0.0,6,0.0,0.0,0.0,4.0,2.0
1,Andhra Pradesh,2001,Murder - Female Victims,2. Female Victims,67.0,607,15.0,38.0,43.0,269.0,175.0
2,Arunachal Pradesh,2001,Murder - Female Victims,2. Female Victims,2.0,16,0.0,0.0,0.0,10.0,4.0
3,Assam,2001,Murder - Female Victims,2. Female Victims,11.0,128,8.0,4.0,23.0,45.0,37.0
4,Bihar,2001,Murder - Female Victims,2. Female Victims,12.0,366,0.0,0.0,40.0,191.0,123.0
5,Chandigarh,2001,Murder - Female Victims,2. Female Victims,3.0,5,0.0,0.0,0.0,1.0,1.0
6,Chhattisgarh,2001,Murder - Female Victims,2. Female Victims,63.0,549,14.0,38.0,38.0,214.0,182.0
7,Delhi,2001,Murder - Female Victims,2. Female Victims,14.0,152,2.0,12.0,9.0,74.0,41.0
8,Goa,2001,Murder - Female Victims,2. Female Victims,1.0,13,0.0,0.0,0.0,4.0,8.0
9,Gujarat,2001,Murder - Female Victims,2. Female Victims,26.0,363,9.0,57.0,8.0,132.0,131.0
10,Haryana,2001,Murder - Female Victims,2. Female Victims,6.0,143,1.0,12.0,15.0,67.0,42.0
11,Himachal Pradesh,2001,Murder - Female Victims,2. Female Victims,6.0,39,1.0,1.0,1.0,11.0,19.0
12,Jammu & Kashmir,2001,Murder - Female Victims,2. Female Victims,24.0,187,13.0,2.0,27.0,68.0,53.0
13,Jharkhand,2001,Murder - Female Victims,2. Female Victims,24.0,291,0.0,0.0,39.0,126.0,102.0
14,Karnataka,2001,Murder - Female Victims,2. Female Victims,51.0,577,13.0,38.0,24.0,250.0,201.0
15,Kerala,2001,Murder - Female Victims,2. Female Victims,24.0,156,5.0,36.0,8.0,25.0,58.0
16,Lakshadweep,2001,Murder - Female Victims,2. Female Victims,0.0,2,1.0,1.0,0.0,0.0,0.0
17,Madhya Pradesh,2001,Murder - Female Victims,2. Female Victims,31.0,622,13.0,41.0,37.0,281.0,219.0
18,Maharashtra,2001,Murder - Female Victims,2. Female Victims,78.0,1068,28.0,76.0,41.0,555.0,290.0
19,Manipur,2001,Murder - Female Victims,2. Female Victims,1.0,8,0.0,2.0,0.0,2.0,3.0
20,Meghalaya,2001,Murder - Female Victims,2. Female Victims,0.0,6,0.0,0.0,0.0,4.0,2.0
21,Mizoram,2001,Murder - Female Victims,2. Female Victims,0.0,12,0.0,0.0,0.0,9.0,3.0
22,Nagaland,2001,Murder - Female Victims,2. Female Victims,0.0,2,0.0,0.0,2.0,0.0,0.0
23,Odisha,2001,Murder - Female Victims,2. Female Victims,26.0,260,0.0,0.0,13.0,140.0,81.0
24,Puducherry,2001,Murder - Female Victims,2. Female Victims,0.0,10,0.0,0.0,1.0,5.0,4.0
25,Punjab,2001,Murder - Female Victims,2. Female Victims,11.0,203,1.0,3.0,21.0,90.0,77.0
26,Rajasthan,2001,Murder - Female Victims,2. Female Victims,32.0,248,4.0,8.0,15.0,108.0,81.0
27,Sikkim,2001,Murder - Female Victims,2. Female Victims,0.0,6,0.0,0.0,0.0,1.0,5.0
28,Tamil Nadu,2001,Murder - Female Victims,2. Female Victims,34.0,525,8.0,5.0,113.0,174.0,191.0
29,Tripura,2001,Murder - Female Victims,2. Female Victims,2.0,9,0.0,0.0,2.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
988,Bihar,2010,Murder - Total Victims,3. Total,225.0,3362,44.0,26.0,132.0,1861.0,1074.0
989,Chandigarh,2010,Murder - Total Victims,3. Total,4.0,22,0.0,1.0,0.0,6.0,11.0
990,Chhattisgarh,2010,Murder - Total Victims,3. Total,145.0,1065,13.0,32.0,50.0,358.0,467.0
991,Dadra & Nagar Haveli,2010,Murder - Total Victims,3. Total,0.0,6,0.0,0.0,0.0,1.0,5.0
992,Daman & Diu,2010,Murder - Total Victims,3. Total,0.0,5,0.0,0.0,0.0,4.0,1.0
993,Delhi,2010,Murder - Total Victims,3. Total,39.0,577,11.0,10.0,18.0,293.0,206.0
994,Goa,2010,Murder - Total Victims,3. Total,2.0,35,0.0,0.0,1.0,14.0,18.0
995,Gujarat,2010,Murder - Total Victims,3. Total,110.0,1082,18.0,46.0,7.0,443.0,458.0
996,Haryana,2010,Murder - Total Victims,3. Total,79.0,1044,10.0,6.0,14.0,466.0,469.0
997,Himachal Pradesh,2010,Murder - Total Victims,3. Total,19.0,133,0.0,5.0,3.0,42.0,64.0
998,Jammu & Kashmir,2010,Murder - Total Victims,3. Total,22.0,235,0.0,1.0,0.0,106.0,106.0
999,Jharkhand,2010,Murder - Total Victims,3. Total,77.0,1752,2.0,4.0,2.0,1036.0,631.0
1000,Karnataka,2010,Murder - Total Victims,3. Total,187.0,1878,6.0,45.0,9.0,858.0,773.0
1001,Kerala,2010,Murder - Total Victims,3. Total,82.0,405,9.0,39.0,1.0,84.0,190.0
1002,Madhya Pradesh,2010,Murder - Total Victims,3. Total,304.0,2441,40.0,55.0,49.0,978.0,1015.0
1003,Maharashtra,2010,Murder - Total Victims,3. Total,322.0,2837,34.0,169.0,34.0,1222.0,1056.0
1004,Manipur,2010,Murder - Total Victims,3. Total,9.0,101,2.0,0.0,0.0,31.0,59.0
1005,Meghalaya,2010,Murder - Total Victims,3. Total,10.0,137,0.0,1.0,1.0,69.0,56.0
1006,Mizoram,2010,Murder - Total Victims,3. Total,9.0,48,0.0,0.0,2.0,8.0,29.0
1007,Nagaland,2010,Murder - Total Victims,3. Total,10.0,47,0.0,0.0,0.0,20.0,17.0
1008,Odisha,2010,Murder - Total Victims,3. Total,104.0,1319,0.0,10.0,2.0,566.0,637.0
1009,Puducherry,2010,Murder - Total Victims,3. Total,8.0,34,0.0,0.0,0.0,13.0,13.0
1010,Punjab,2010,Murder - Total Victims,3. Total,86.0,945,9.0,21.0,18.0,384.0,427.0
1011,Rajasthan,2010,Murder - Total Victims,3. Total,135.0,1421,22.0,29.0,42.0,567.0,626.0
1012,Sikkim,2010,Murder - Total Victims,3. Total,3.0,17,1.0,2.0,0.0,4.0,7.0
1013,Tamil Nadu,2010,Murder - Total Victims,3. Total,327.0,1908,13.0,63.0,16.0,650.0,839.0
1014,Tripura,2010,Murder - Total Victims,3. Total,24.0,159,2.0,0.0,0.0,60.0,73.0
1015,Uttar Pradesh,2010,Murder - Total Victims,3. Total,344.0,4456,82.0,138.0,126.0,2358.0,1408.0
1016,Uttarakhand,2010,Murder - Total Victims,3. Total,19.0,176,1.0,0.0,2.0,91.0,63.0
1017,West Bengal,2010,Murder - Total Victims,3. Total,120.0,2415,8.0,2.0,6.0,1177.0,1102.0

In [151]:
#Age group wise murder victims
df_murder.groupby(["Sub_Group_Name"]).agg({"Victims_Above_50_Yrs":"sum","Victims_Upto_10_15_Yrs":"sum","Victims_Upto_10_Yrs":"sum","Victims_Upto_15_18_Yrs":"sum","Victims_Upto_18_30_Yrs":"sum","Victims_Upto_30_50_Yrs":"sum","Victims_Total":"sum"})
#From below table we come to know in every age group male victims are more than female vctims

,Victims_Above_50_Yrs,Victims_Upto_10_15_Yrs,Victims_Upto_10_Yrs,Victims_Upto_15_18_Yrs,Victims_Upto_18_30_Yrs,Victims_Upto_30_50_Yrs,Victims_Total
Sub_Group_Name,,,,,,,
1. Male Victims,25481.0,2643.0,3494.0,5264.0,119175.0,110217.0,266274
2. Female Victims,7015.0,1534.0,3133.0,2429.0,39611.0,27858.0,81580
3. Total,32496.0,4177.0,6627.0,7693.0,158786.0,138075.0,347854

Crime by place of occurrence

In [152]:
#Here our intention will be to display the table showing info of crime by place of occurence grouped by states
#Lets import the Dataset for that
df_crime_place_occur=pd.read_csv("17_Crime_by_place_of_occurrence_2001_2012.csv")
df_crime_place_occur

,STATE/UT,YEAR,RESIDENTIAL PREMISES - Dacoity,RESIDENTIAL PREMISES - Robbery,RESIDENTIAL PREMISES - Burglary,RESIDENTIAL PREMISES - Theft,HIGHWAYS - Dacoity,HIGHWAYS - Robbery,HIGHWAYS - Burglary,HIGHWAYS - Theft,...,COMMERCIAL ESTABLISHMENTS - Burglary,COMMERCIAL ESTABLISHMENTS - Theft,OTHER PLACES - Dacoity,OTHER PLACES - Robbery,OTHER PLACES - Burglary,OTHER PLACES - Theft,TOTAL - Dacoity,TOTAL - Robbery,TOTAL - Burglary,TOTAL - Theft
0,ANDHRA PRADESH,2001,100,177,5158,4257,57,172,31,74,...,1041,2502,37,232,862,8849,214,629,7220,16751
1,ARUNACHAL PRADESH,2001,9,26,99,131,0,0,0,8,...,84,54,8,40,65,249,22,84,248,443
2,ASSAM,2001,381,191,1695,2901,46,136,7,87,...,442,967,77,261,271,1342,532,687,2423,5367
3,BIHAR,2001,818,326,2486,4741,162,826,0,257,...,231,686,210,880,505,2582,1291,2203,3233,9701
4,CHHATTISGARH,2001,54,42,3336,1417,10,38,12,72,...,370,299,15,239,420,2835,87,338,4144,4812
5,GOA,2001,3,10,185,65,0,3,0,3,...,109,64,4,8,57,436,7,25,359,576
6,GUJARAT,2001,105,181,3217,3639,58,113,2,116,...,889,1343,115,566,1002,10353,327,991,5142,15834
7,HARYANA,2001,25,52,2072,1930,11,71,12,88,...,534,684,36,210,400,3012,77,397,3109,6117
8,HIMACHAL PRADESH,2001,0,2,328,55,0,2,0,10,...,235,45,3,19,206,488,4,28,844,600
9,JAMMU & KASHMIR,2001,11,65,879,447,0,3,2,19,...,235,193,8,70,220,1260,24,161,1345,1919
10,JHARKHAND,2001,339,175,1158,2377,209,337,0,110,...,15,380,55,104,92,736,636,647,1266,3827
11,KARNATAKA,2001,70,248,4194,4505,16,57,0,44,...,1026,1322,75,471,1041,6479,178,847,6394,12868
12,KERALA,2001,45,113,2409,1657,16,36,91,262,...,844,529,87,325,1118,2790,176,517,4474,5441
13,MADHYA PRADESH,2001,59,449,9551,8173,31,186,13,538,...,1107,3117,58,987,2801,7277,166,1764,13549,20263
14,MAHARASHTRA,2001,162,444,9817,7470,76,296,0,326,...,2697,3821,239,1248,2343,24822,529,2239,15073,39866
15,MANIPUR,2001,1,3,28,42,17,5,0,3,...,27,101,2,11,20,71,20,19,75,217
16,MEGHALAYA,2001,29,14,77,67,25,33,0,0,...,34,17,38,72,58,187,97,125,170,271
17,MIZORAM,2001,3,6,184,348,0,1,0,7,...,117,237,0,16,116,286,3,23,417,878
18,NAGALAND,2001,2,12,66,115,3,41,0,15,...,65,46,6,63,32,82,11,129,163,258
19,ODISHA,2001,90,255,2341,2191,26,268,0,95,...,383,616,50,327,362,2327,199,958,3093,5622
20,PUNJAB,2001,17,39,1233,994,3,6,0,44,...,299,342,19,75,355,1595,45,131,1902,3023
21,RAJASTHAN,2001,9,26,4377,2413,15,60,0,112,...,1875,1253,30,780,1001,12596,60,889,7284,16939
22,SIKKIM,2001,0,0,50,27,0,0,0,17,...,9,8,0,1,17,22,0,3,76,74
23,TAMIL NADU,2001,61,142,3680,3390,24,52,0,263,...,589,2255,48,398,1649,10494,158,672,5965,16709
24,TRIPURA,2001,23,35,161,186,1,3,0,0,...,8,42,0,0,29,31,26,63,198,259
25,UTTAR PRADESH,2001,402,504,6693,6383,208,2015,0,6121,...,149,808,237,1210,1563,10557,905,3825,8411,27011
26,UTTARAKHAND,2001,18,38,376,598,4,68,7,72,...,45,169,7,79,92,528,32,191,533,1419
27,WEST BENGAL,2001,75,106,300,5369,40,129,0,159,...,44,1875,128,340,82,5801,274,660,426,14245
28,TOTAL (STATES),2001,2911,3681,66150,65888,1058,4957,177,8922,...,13503,23775,1592,9032,16779,118087,6100,19245,97536,231310
29,A & N ISLANDS,2001,0,0,47,18,0,0,0,0,...,7,6,0,4,10,40,0,4,64,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,HIMACHAL PRADESH,2012,1,1,506,92,0,3,0,44,...,131,65,0,6,283,538,1,10,928,769
427,JAMMU & KASHMIR,2012,1,18,866,344,2,5,8,18,...,200,200,3,57,306,1354,6,81,1395,2022
428,JHARKHAND,2012,125,86,988,2598,116,269,0,257,...,40,1157,29,100,180,2234,284,494,1216,6680
429,KARNATAKA,2012,69,225,3937,4592,20,58,188,194,...,723,1953,116,1791,893,11155,211,2207,5792,18418
430,KERALA,2012,12,111,1502,767,4,27,0,54,...,471,323,45,546,725,2718,72,725,2710,4078
431,MADHYA PRADESH,2012,37,307,7671,7450,15,291,20,783,...,1080,2229,46,1208,1185,10506,107,1940,10019,23182
432,MAHARASHTRA,2012,116,358,10508,8293,79,443,0,173,...,1943,2589,528,5510,3100,33045,793,6949,15648,47476
433,MANIPUR,2012,0,1,31,247,0,1,0,57,...,16,165,8,1,6,433,8,3,53,903
434,MEGHALAYA,2012,6,6,98,188,20,10,0,13,...,5,29,26,30,42,313,52,46,145,543
435,MIZORAM,2012,0,1,282,349,2,3,0,4,...,52,99,0,0,13,138,2,4,347,605
436,NAGALAND,2012,0,15,28,156,1,20,0,7,...,8,112,0,12,29,91,1,54,65,381
437,ODISHA,2012,76,169,1828,2315,114,491,0,292,...,617,787,157,757,932,5395,402,1613,3430,9630
438,PUNJAB,2012,5,10,1440,1282,8,48,6,286,...,659,916,29,130,698,2727,48,213,2828,5272
439,RAJASTHAN,2012,3,21,2834,2745,7,71,0,227,...,919,816,17,696,838,18831,31,807,4610,23314
440,SIKKIM,2012,0,2,55,96,0,0,0,0,...,2,0,0,3,8,21,0,6,65,117
441,TAMIL NADU,2012,37,401,3080,3100,11,84,14,1188,...,528,2019,42,1337,820,5363,97,1898,4457,11996
442,TRIPURA,2012,5,38,124,315,0,0,0,1,...,55,103,2,14,60,140,7,60,239,565
443,UTTAR PRADESH,2012,110,169,3677,3776,66,1480,0,21662,...,688,1342,128,1446,1804,8759,322,3159,6187,37376
444,UTTARAKHAND,2012,9,20,194,559,5,61,0,40,...,69,63,14,60,128,1192,29,144,391,1913
445,WEST BENGAL,2012,92,86,221,5002,30,90,0,256,...,35,2186,115,434,204,14482,279,816,464,22991
446,TOTAL (STATES),2012,1277,2698,59183,73887,837,4968,316,27603,...,11816,27619,1769,17012,18937,167723,4270,26649,90743,312967
447,A & N ISLANDS,2012,0,0,43,15,0,0,0,0,...,4,2,5,2,24,39,5,2,71,71
448,CHANDIGARH,2012,0,17,153,811,0,0,0,0,...,78,630,2,24,4,106,3,63,235,1549
449,D & N HAVELI,2012,0,0,8,19,0,0,0,10,...,7,12,2,2,5,22,2,2,22,68
450,DAMAN & DIU,2012,0,1,12,4,0,0,0,0,...,12,8,0,1,2,42,1,3,26,55
451,DELHI,2012,10,101,1249,7076,1,32,0,189,...,285,1370,17,431,178,12749,28,608,1715,22032
452,LAKSHADWEEP,2012,0,0,3,7,0,0,0,0,...,0,0,0,0,0,0,0,0,3,7
453,PUDUCHERRY,2012,1,4,47,42,0,0,0,0,...,26,20,2,8,4,596,5,16,77,658
454,TOTAL (UTs),2012,11,123,1515,7974,1,32,0,199,...,412,2042,28,468,217,13554,44,694,2149,24440
455,TOTAL (ALL-INDIA),2012,1288,2821,60698,81861,838,5000,316,27802,...,12228,29661,1797,17480,19154,181277,4314,27343,92892,337407

In [153]:
#Lets chcek the columns
df_crime_place_occur.columns

Index(['STATE/UT', 'YEAR', 'RESIDENTIAL PREMISES - Dacoity',
       'RESIDENTIAL PREMISES - Robbery', 'RESIDENTIAL PREMISES - Burglary',
       'RESIDENTIAL PREMISES - Theft', 'HIGHWAYS - Dacoity',
       'HIGHWAYS - Robbery', 'HIGHWAYS - Burglary', 'HIGHWAYS - Theft',
       'RIVER and SEA - Dacoity', 'RIVER and SEA - Robbery',
       'RIVER and SEA - Burglary', 'RIVER and SEA - Theft',
       'RAILWAYS - Dacoity', 'RAILWAYS - Robbery', 'RAILWAYS - Burglary',
       'RAILWAYS - Theft', 'BANKS - Dacoity', 'BANKS - Robbery',
       'BANKS - Burglary', 'BANKS - Theft',
       'COMMERCIAL ESTABLISHMENTS - Dacoity',
       'COMMERCIAL ESTABLISHMENTS - Robbery',
       'COMMERCIAL ESTABLISHMENTS - Burglary',
       'COMMERCIAL ESTABLISHMENTS - Theft', 'OTHER PLACES - Dacoity',
       'OTHER PLACES - Robbery', 'OTHER PLACES - Burglary',
       'OTHER PLACES - Theft', 'TOTAL - Dacoity', 'TOTAL - Robbery',
       'TOTAL - Burglary', 'TOTAL - Theft'],
      dtype='object')

In [156]:
#Grouping  and each column by state/ut
#Writing each column name and aggregating function is tedious job
# we will be using dict comprehensions
df_crime_place_group=df_crime_place_occur.groupby(["STATE/UT"]).agg({k:"sum" for k in df_crime_place_occur.columns[2:]})

In [158]:
#Displaying the above groupped table
df_crime_place_group

,RESIDENTIAL PREMISES - Dacoity,RESIDENTIAL PREMISES - Robbery,RESIDENTIAL PREMISES - Burglary,RESIDENTIAL PREMISES - Theft,HIGHWAYS - Dacoity,HIGHWAYS - Robbery,HIGHWAYS - Burglary,HIGHWAYS - Theft,RIVER and SEA - Dacoity,RIVER and SEA - Robbery,...,COMMERCIAL ESTABLISHMENTS - Burglary,COMMERCIAL ESTABLISHMENTS - Theft,OTHER PLACES - Dacoity,OTHER PLACES - Robbery,OTHER PLACES - Burglary,OTHER PLACES - Theft,TOTAL - Dacoity,TOTAL - Robbery,TOTAL - Burglary,TOTAL - Theft
STATE/UT,,,,,,,,,,,,,,,,,,,,,
A & N ISLANDS,0,8,592,252,0,0,0,0,0,0,...,110,144,15,64,188,668,15,74,892,1124
ANDHRA PRADESH,845,2612,70059,97567,471,1486,504,3544,3,21,...,12032,30960,544,3037,14226,141625,1987,7605,97336,287190
ARUNACHAL PRADESH,119,321,1349,2243,19,69,9,128,0,1,...,654,758,92,288,767,2045,260,843,2780,5178
ASSAM,2612,2357,18375,37042,420,991,515,1833,19,14,...,5545,11229,782,3129,10104,33996,4170,7467,34752,85475
BIHAR,6606,2823,30745,63752,1934,11913,267,4665,4,26,...,2711,14233,1492,7351,6409,55678,11099,23666,40293,153372
CHANDIGARH,3,46,1808,6898,0,0,0,0,0,0,...,946,4303,17,295,178,7265,31,397,2947,18474
CHHATTISGARH,636,619,35246,16201,122,706,321,731,4,2,...,3459,4792,551,3510,5493,37843,1468,5113,44656,62873
D & N HAVELI,17,10,171,292,1,6,0,11,0,0,...,143,203,12,11,70,245,40,30,388,773
DAMAN & DIU,4,2,222,52,0,0,0,1,1,0,...,226,89,17,19,50,456,36,27,525,613
DELHI,145,1092,16149,56767,17,371,0,1128,0,0,...,3887,16116,144,4452,3496,147093,381,6461,23555,231546
GOA,24,58,1987,1182,7,40,0,88,0,3,...,1012,793,17,162,646,5825,55,298,3700,8045
GUJARAT,1166,2245,36635,46649,528,1039,70,1470,8,16,...,10782,25015,1621,9578,12902,131614,3842,14383,60689,213207
HARYANA,225,716,31165,32329,349,1088,282,3960,1,6,...,9135,20822,669,3377,5557,69770,1375,5871,46504,131394
HIMACHAL PRADESH,6,30,4565,1155,6,33,0,348,0,0,...,2101,874,24,147,2843,7229,45,236,9689,9658
JAMMU & KASHMIR,88,378,9054,6024,3,23,40,291,0,0,...,3653,2874,78,781,4178,15801,188,1312,17050,25767
JHARKHAND,2757,2124,14014,32328,1971,4105,47,3131,0,8,...,1148,9924,740,1708,1397,22572,5906,8711,16680,71322
KARNATAKA,710,3098,47568,50098,317,734,401,1809,2,3,...,12051,21616,1356,12346,12650,120166,2581,17287,73298,199960
KERALA,282,1907,25373,17123,134,365,104,1067,4,1,...,8288,4533,759,5467,12314,37218,1364,8329,46371,62353
LAKSHADWEEP,2,0,18,50,0,0,0,0,0,0,...,6,31,1,0,11,30,3,0,36,113
MADHYA PRADESH,572,2819,100474,92834,249,2909,205,6662,3,40,...,14999,25211,683,15345,21316,119995,1655,22314,137346,263860
MAHARASHTRA,1860,4221,117344,102193,933,3570,185,5043,12,14,...,33323,42434,4530,26581,33483,368305,8175,37719,185617,556807
MANIPUR,5,10,235,1043,26,28,7,362,0,0,...,341,813,17,44,171,2605,48,83,755,4834
MEGHALAYA,208,189,1030,2031,265,306,11,194,0,0,...,212,648,264,398,630,3129,798,972,1888,6004
MIZORAM,10,24,2701,4518,13,46,126,170,7,3,...,887,1935,13,41,1032,3160,45,114,4748,9803
NAGALAND,31,248,530,1601,52,337,11,242,0,0,...,249,704,31,335,353,1209,125,1042,1146,3802
ODISHA,1067,2366,22199,22640,735,4403,179,1429,0,4,...,5843,7925,1078,6018,7930,44309,3381,14705,36505,82837
PUDUCHERRY,10,18,655,939,0,0,0,0,0,0,...,280,445,22,61,129,5981,38,89,1064,7366
PUNJAB,107,314,14348,13421,34,163,22,1753,0,0,...,6388,7446,250,1058,6508,27169,460,1828,27621,50503
RAJASTHAN,83,272,38747,32628,136,769,0,1452,0,0,...,15034,12556,279,7723,11200,180296,563,9071,65268,232974
SIKKIM,3,22,607,501,1,3,0,33,0,0,...,99,88,2,33,159,388,6,64,877,1019
TAMIL NADU,414,2752,35562,46398,216,920,37,4304,2,12,...,6278,26134,505,6572,11207,105059,1237,11272,53339,185160
TOTAL (ALL-INDIA),22105,35290,674002,846519,9451,48149,3322,143318,62,162,...,153075,298552,17775,126694,189691,1751117,54890,228285,1025898,3205333
TOTAL (STATES),23480,36932,713720,852467,10123,51450,3439,155358,71,190,...,161877,306153,19329,133799,202656,1758758,58838,241137,1087785,3240300
TOTAL (UTs),181,1174,19564,65225,18,377,0,1140,1,0,...,5582,21303,228,4890,4111,161670,544,7064,29329,259881
TRIPURA,128,342,1360,2200,6,20,0,21,0,0,...,371,790,47,255,443,1246,197,721,2212,4353
UTTAR PRADESH,1864,2725,45917,55119,849,13737,79,109154,2,6,...,3974,10103,1764,13198,15558,113992,4809,30767,65587,312047
UTTARAKHAND,166,304,3533,6536,53,726,10,442,0,0,...,883,1647,107,902,1132,10947,357,1990,5578,20035
WEST BENGAL,886,1036,2998,65111,274,921,7,1032,0,10,...,425,19296,1034,4415,2048,95567,2642,7354,5500,190468

In [162]:
# above table is useful o find total number of info
#Lets say we are finding total number of Dacoity in resedential premises in ANDHRA PRADESH
df_crime_place_group.loc["ANDHRA PRADESH",["RESIDENTIAL PREMISES - Dacoity"]]

RESIDENTIAL PREMISES - Dacoity    845
Name: ANDHRA PRADESH, dtype: int64

In [163]:
#Lets chcek the ratio of Dacoity in resedential premises to that of total number of Dacoity in ANDHRA PRADESH
print("Dacoity in resedential premises to that of total number of Dacoity in ANDHRA PRADESH is: {}".format(df_crime_place_group.loc["ANDHRA PRADESH",["RESIDENTIAL PREMISES - Dacoity"]][0]/df_crime_place_group.loc["ANDHRA PRADESH",["TOTAL - Dacoity"]][0]))

Dacoity in resedential premises to that of total number of Dacoity in ANDHRA PRADESH is: 0.4252642174131857

Which state has more number of complaints against police

In [164]:
#Lets import the relevant Dataset
df_cpa=pd.read_csv("25_Complaints_against_police.csv")
df_cpa

,Area_Name,Year,Sub_group,CPA_-_Cases_Registered,CPA_-_Cases_Reported_for_Dept._Action,CPA_-_Complaints/Cases_Declared_False/Unsubstantiated,CPA_-_Complaints_Received/Alleged,CPA_-_No_of_Departmental_Enquiries,CPA_-_No_of_Magisterial_Enquiries,CPA-_Cases_Sent_for_Trials/Charge-sheeted,...,CPB_-_Police_Personnel_Convicted,CPB_-_Police_Personnel_sent_up_for_Trial,CPB_-_Police_Personnel_Trial_Completed,CPB-_Police_Personnel_Cases_Withdrawn_or_Otherwise_disposed_of,CPC_-_Police_personnel_Cases_Trial_Completed,CPC_-_Police_Personnel_Cases_Withdrawn_or_Otherwise_disposed_of,CPC_-_Police_Personnel_Disciplinary_Action_Initiated,CPC_-_Police_Personnel_Dismissal/Removal_from_Service,CPC_-_Police_Personnel_Major_Punishment_awarded,CPC_-_Police_Personnel_Minor_Punishment_awarded
0,Andaman & Nicobar Islands,2001,Complaints Against Police Personnel,10,4,0,10,4,0,5,...,0,5,1,0,6,25,73,2,11,20
1,Andhra Pradesh,2001,Complaints Against Police Personnel,3078,72,109,3229,160,2969,3039,...,3,92,15,16,23,476,1506,47,248,1085
2,Arunachal Pradesh,2001,Complaints Against Police Personnel,24,39,5,54,44,0,17,...,0,17,0,1,8,43,107,4,17,15
3,Assam,2001,Complaints Against Police Personnel,17,3,1,52,52,3,9,...,0,7,1,1,0,7,144,5,61,102
4,Bihar,2001,Complaints Against Police Personnel,1,1,12,125,3,15,18,...,0,81,0,6,537,141,1385,33,470,1557
5,Chandigarh,2001,Complaints Against Police Personnel,6,1,42,52,1,0,2,...,0,2,0,1,141,14,131,11,57,17
6,Chhattisgarh,2001,Complaints Against Police Personnel,137,51,2008,2618,748,5,13,...,4,30,6,1,22,44,131,0,26,36
7,Dadra & Nagar Haveli,2001,Complaints Against Police Personnel,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Daman & Diu,2001,Complaints Against Police Personnel,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Delhi,2001,Complaints Against Police Personnel,184,99,368,6572,428,0,5,...,0,5,0,0,0,0,99,103,487,1864
10,Goa,2001,Complaints Against Police Personnel,2,7,0,8,7,0,1,...,0,1,4,0,90,113,168,0,6,84
11,Gujarat,2001,Complaints Against Police Personnel,417,1736,548,2358,555,2,364,...,18,419,44,32,2441,191,3429,67,143,2682
12,Haryana,2001,Complaints Against Police Personnel,9,11,1635,1681,792,0,4,...,0,5,0,0,0,0,21,0,2,5
13,Himachal Pradesh,2001,Complaints Against Police Personnel,7,0,118,179,1,0,4,...,2,4,20,0,4,40,35,2,23,27
14,Jammu & Kashmir,2001,Complaints Against Police Personnel,44,6,447,560,168,1,30,...,0,74,0,29,634,778,2938,81,1573,923
15,Jharkhand,2001,Complaints Against Police Personnel,12,0,2,11,0,0,2,...,0,3,0,2,193,91,379,41,202,42
16,Karnataka,2001,Complaints Against Police Personnel,183,33,9,2209,196,2,169,...,0,20,1,1,334,288,1094,15,79,810
17,Kerala,2001,Complaints Against Police Personnel,115,34,729,1336,1118,3,44,...,1,52,7,9,135,102,548,1,87,123
18,Lakshadweep,2001,Complaints Against Police Personnel,1,0,0,1,0,0,1,...,0,1,0,0,0,0,0,0,0,0
19,Madhya Pradesh,2001,Complaints Against Police Personnel,635,452,13907,19390,7605,398,90,...,1,27,5,4,166,312,513,28,115,212
20,Maharashtra,2001,Complaints Against Police Personnel,464,296,2899,5001,2327,21,283,...,7,305,26,16,3829,1275,7920,178,486,14531
21,Manipur,2001,Complaints Against Police Personnel,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,Meghalaya,2001,Complaints Against Police Personnel,6,1,0,6,4,0,1,...,0,2,0,2,0,2,28,2,60,52
23,Mizoram,2001,Complaints Against Police Personnel,9,1,0,7,1,0,6,...,0,7,4,3,32,0,43,3,28,6
24,Nagaland,2001,Complaints Against Police Personnel,76,74,1,99,1,0,35,...,0,2,3,1,2,1,8,0,2,1
25,Odisha,2001,Complaints Against Police Personnel,72,13,9,81,10,5,16,...,1,27,1,2,68,36,191,11,72,260
26,Puducherry,2001,Complaints Against Police Personnel,4,0,2,6,0,0,4,...,1,4,2,0,17,18,35,3,7,7
27,Punjab,2001,Complaints Against Police Personnel,191,186,3023,4046,2459,45,9,...,3,30,12,7,30,7,1216,118,600,809
28,Rajasthan,2001,Complaints Against Police Personnel,110,110,944,1858,909,4,60,...,1,70,5,5,2777,1060,4243,90,328,2359
29,Sikkim,2001,Complaints Against Police Personnel,109,0,5,109,0,0,46,...,1,1,1,0,1,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,Chandigarh,2010,Complaints Against Police Personnel,0,0,124,357,0,0,0,...,0,0,0,0,0,37,54,1,16,37
321,Chhattisgarh,2010,Complaints Against Police Personnel,29,98,1272,1863,1104,0,30,...,17,11,19,1,207,57,362,23,37,148
322,Dadra & Nagar Haveli,2010,Complaints Against Police Personnel,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
323,Daman & Diu,2010,Complaints Against Police Personnel,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
324,Delhi,2010,Complaints Against Police Personnel,58,40,241,6614,294,0,14,...,0,14,0,0,1250,0,1303,35,218,997
325,Goa,2010,Complaints Against Police Personnel,8,1,7,15,1,0,3,...,1,3,4,2,41,165,257,0,1,121
326,Gujarat,2010,Complaints Against Police Personnel,274,271,375,958,558,41,202,...,5,219,20,9,690,191,1937,34,166,808
327,Haryana,2010,Complaints Against Police Personnel,40,23,814,788,322,0,16,...,0,35,0,0,0,0,8,0,0,0
328,Himachal Pradesh,2010,Complaints Against Police Personnel,17,0,300,334,21,2,5,...,0,7,0,1,32,20,98,0,22,23
329,Jammu & Kashmir,2010,Complaints Against Police Personnel,79,35,116,526,435,1,35,...,1,40,8,4,797,877,1447,17,559,516
330,Jharkhand,2010,Complaints Against Police Personnel,8,0,5,2043,24,0,6,...,1,1,1,0,253,112,932,90,353,327
331,Karnataka,2010,Complaints Against Police Personnel,81,177,9,485,450,31,51,...,1,62,3,3,386,82,633,8,22,449
332,Kerala,2010,Complaints Against Police Personnel,118,108,3337,4294,2684,0,37,...,5,45,16,12,395,141,1223,13,128,359
333,Lakshadweep,2010,Complaints Against Police Personnel,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
334,Madhya Pradesh,2010,Complaints Against Police Personnel,30,73,12792,13620,3545,158,23,...,1,20,2,9,83,188,805,25,80,177
335,Maharashtra,2010,Complaints Against Police Personnel,413,90,3713,4906,370,19,159,...,2,160,25,3,184,4,275,36,21,127
336,Manipur,2010,Complaints Against Police Personnel,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
337,Meghalaya,2010,Complaints Against Police Personnel,5,0,0,2,2,0,1,...,0,1,0,1,0,0,4,3,51,23
338,Mizoram,2010,Complaints Against Police Personnel,2,2,0,3,3,0,2,...,0,2,1,0,1,0,1,0,1,1
339,Nagaland,2010,Complaints Against Police Personnel,7,0,0,8,2,0,6,...,1,7,1,0,1,0,2,0,0,1
340,Odisha,2010,Complaints Against Police Personnel,30,7,0,30,30,0,2,...,0,7,0,0,3,0,16,0,2,1
341,Puducherry,2010,Complaints Against Police Personnel,4,0,0,4,0,0,2,...,0,2,0,0,0,1,17,0,7,15
342,Punjab,2010,Complaints Against Police Personnel,36,25,2240,3858,1324,3,10,...,16,67,61,53,837,600,1912,77,665,1888
343,Rajasthan,2010,Complaints Against Police Personnel,193,124,1729,1894,164,0,26,...,2,72,3,27,2383,1291,3700,69,228,2086
344,Sikkim,2010,Complaints Against Police Personnel,0,26,0,26,26,0,0,...,0,0,0,0,20,6,20,0,4,16
345,Tamil Nadu,2010,Complaints Against Police Personnel,107,67,15,366,282,62,80,...,0,81,18,6,550,295,1620,32,457,642
346,Tripura,2010,Complaints Against Police Personnel,28,7,5,34,9,0,16,...,0,20,1,2,9,37,90,13,17,18
347,Uttar Pradesh,2010,Complaints Against Police Personnel,8701,8326,3418,12119,8693,8,45,...,0,95,7,1,8158,492,8650,171,1025,6962
348,Uttarakhand,2010,Complaints Against Police Personnel,15,71,596,682,682,0,7,...,0,7,0,0,276,59,358,9,20,247
349,West Bengal,2010,Complaints Against Police Personnel,5,27,0,33,32,0,5,...,0,5,0,0,32,11,214,0,99,382

In [166]:
#Now here we will display the total cases reported ,total cases discarded,total cases recieved groped by state
df_cpa_group=df_cpa.groupby(["Area_Name"]).agg({"CPA_-_Cases_Registered":"sum","CPA_-_Complaints/Cases_Declared_False/Unsubstantiated":"sum","CPA_-_Complaints_Received/Alleged":"sum"})

In [167]:
#Lets display the table
df_cpa_group

,CPA_-_Cases_Registered,CPA_-_Complaints/Cases_Declared_False/Unsubstantiated,CPA_-_Complaints_Received/Alleged
Area_Name,,,
Andaman & Nicobar Islands,154,139,288
Andhra Pradesh,16327,1155,22635
Arunachal Pradesh,119,5,647
Assam,150,13,332
Bihar,310,137,2785
Chandigarh,21,1098,1898
Chhattisgarh,797,13716,17629
Dadra & Nagar Haveli,2,0,1
Daman & Diu,0,0,1
Delhi,1013,6684,72785
Goa,50,223,367
Gujarat,2749,3580,20003
Haryana,457,11444,13631
Himachal Pradesh,2544,2284,4888
Jammu & Kashmir,682,3408,6945
Jharkhand,11294,79,13376
Karnataka,809,279,5155
Kerala,1055,16959,26469
Lakshadweep,2,0,2
Madhya Pradesh,10747,117567,149415
Maharashtra,4001,31877,44585
Manipur,9,0,10
Meghalaya,59,0,81
Mizoram,41,0,41
Nagaland,126,1,175
Odisha,3135,43,3241
Puducherry,32,3,34
Punjab,1523,26457,43520
Rajasthan,1216,13984,17485
Sikkim,138,5,222
Tamil Nadu,1328,96,3958
Tripura,134,19,312
Uttar Pradesh,28622,35650,65102
Uttarakhand,168,4304,7687
West Bengal,299,14,923

In [168]:
#We should know that police needs to do the duty and may have some false cases against them
#Better we should chcek for which Area has more valid cases against them
#Lets describe the table
df_cpa_group.describe()

,CPA_-_Cases_Registered,CPA_-_Complaints/Cases_Declared_False/Unsubstantiated,CPA_-_Complaints_Received/Alleged
count,35.000000,35.000000,35.000000
mean,2574.657143,8320.657143,15617.942857
std,5807.444922,21201.897899,29702.831811
min,0.000000,0.000000,1.000000
25%,89.000000,5.000000,255.000000
50%,310.000000,139.000000,3241.000000
75%,1425.500000,5494.000000,17557.000000
max,28622.000000,117567.000000,149415.000000

In [169]:
#Lets  display the Areas along with total valid cases reported against polce(Above 75 percentile)
df_cpa_group.loc[df_cpa_group["CPA_-_Complaints_Received/Alleged"]>17557]
#Below are the states wih more number of valid cases against police
#All are big states and highly populated
#Since population is more so cases against police are more

,CPA_-_Cases_Registered,CPA_-_Complaints/Cases_Declared_False/Unsubstantiated,CPA_-_Complaints_Received/Alleged
Area_Name,,,
Andhra Pradesh,16327,1155,22635
Chhattisgarh,797,13716,17629
Delhi,1013,6684,72785
Gujarat,2749,3580,20003
Kerala,1055,16959,26469
Madhya Pradesh,10747,117567,149415
Maharashtra,4001,31877,44585
Punjab,1523,26457,43520
Uttar Pradesh,28622,35650,65102

Which state is the safest for foreigners